<p class="caption">Ejemplo de formulario de acceso</p>
<pre><code class="language-html">&ltform action="" method=""&gt
  &ltdiv class="sh-form-group sh-form-contain-icon sh-form__lg sh-m-bottom__lg"&gt
    &lti class="icon icon-user sh-form-icon-secondary__right"&gt&lt/i&gt
    &ltinput class="sh-input" id="fname" type="text" name="firstname" placeholder="Usuario o email" required&gt
  &lt/div&gt

  &ltdiv class="sh-form-group sh-form-contain-icon sh-form__lg sh-m-bottom__lg"&gt
    &lti class="icon icon-lock sh-form-icon-secondary__right"&gt&lt/i&gt
    &ltinput class="sh-input" id="password" type="password" name="password" placeholder="Contraseña" required&gt
  &lt/div&gt

  &ltdiv class="sh-m-bottom__lg"&gt
    &ltinput class="sh-btn__blue sh-btn__lg sh-btn__full" type="submit" value="enviar"&gt
  &lt/div&gt
&lt/form&gt

&ltdiv class="sh-text__white"&gt
  &ltp&gt¿No tienes cuenta? &lta href="#"&gtRegístrate&lt/a&gt&lt/p&gt
  &ltp&gt¿Olvidaste tu contraseña? &lta href="#"&gtRecuperar&lt/a&gt&lt/p&gt
&lt/div&gt</code></pre>
