<p class="caption">Ejemplo de input + icono izquierda</p>
<pre><code class="language-html">&ltdiv class="sh-form-group sh-form-contain-icon"&gt
  &lti class="icon icon-user sh-form-icon-left"&gt&lt/i&gt
  &ltinput class="sh-input" type="text" name="firstname"&gt
&lt/div&gt</code></pre>
<p class="caption">Ejemplo de input + icono derecha</p>
<pre><code class="language-html">&ltdiv class="sh-form-group sh-form-contain-icon"&gt
  &lti class="icon icon-user sh-form-icon-right"&gt&lt/i&gt
  &ltinput class="sh-input" type="text" name="firstname"&gt
&lt/div&gt</code></pre>
<p class="caption">Ejemplo de input con doble icono</p>
<pre><code class="language-html">&ltdiv class="sh-form-group sh-form-contain-icon"&gt
  &lti class="icon icon-user sh-form-icon-left"&gt&lt/i&gt
  &ltinput class="sh-input" type="text" name="firstname"&gt
  &lti class="icon icon-user sh-form-icon-right"&gt&lt/i&gt
&lt/div&gt</code></pre>
