<p class="caption">Ejemplo de input + icono primario izquierda</p>
<pre><code class="language-html">&ltdiv class="sh-form-group sh-form-contain-icon"&gt
  &lti class="icon icon-user sh-form-icon-primary__left"&gt&lt/i&gt
  &ltinput class="sh-input" type="text"&gt
&lt/div&gt</code></pre>
<p class="caption">Ejemplo de input + icono primario derecha</p>
<pre><code class="language-html">&ltdiv class="sh-form-group sh-form-contain-icon"&gt
  &lti class="icon icon-user sh-form-icon-primary__right"&gt&lt/i&gt
  &ltinput class="sh-input" type="text"&gt
&lt/div&gt</code></pre>
<p class="caption">Ejemplo de input + icono primario izquierda</p>
<pre><code class="language-html">&ltdiv class="sh-form-group sh-form-contain-icon"&gt
  &lti class="icon icon-user sh-form-icon-secondary__left"&gt&lt/i&gt
  &ltinput class="sh-input" type="text"&gt
&lt/div&gt</code></pre>
<p class="caption">Ejemplo de input + icono primario derecha</p>
<pre><code class="language-html">&ltdiv class="sh-form-group sh-form-contain-icon"&gt
  &lti class="icon icon-user sh-form-icon-secondary__right"&gt&lt/i&gt
  &ltinput class="sh-input" type="text"&gt
&lt/div&gt</code></pre>
<p class="caption">Ejemplo de input con doble icono</p>
<pre><code class="language-html">&ltdiv class="sh-form-group sh-form-contain-icon"&gt
  &lti class="icon icon-user sh-form-icon-primary__left"&gt&lt/i&gt
  &ltinput class="sh-input" type="text"&gt
  &lti class="icon icon-user sh-form-icon-secondary__right"&gt&lt/i&gt
&lt/div&gt</code></pre>
