<p class="caption">Ejemplo de input con estados</p>
<pre><code class="language-html">Completado
&ltdiv class="sh-input-container-icon"&gt
  &ltinput class="sh-input sh-input__sucess" type="text" name="firstname" placeholder="Nombre"&gt
  &lti class="icon icon-check sh-input-icon-right__sucess"&gt&lt/i&gt
&lt/div&gt

Advertencia
&ltdiv class="sh-input-container-icon"&gt
  &ltinput class="sh-input sh-input__warning" type="text" name="firstname" placeholder="Nombre"&gt
  &lti class="icon icon-attention sh-input-icon-right__warning"&gt&lt/i&gt
&lt/div&gt

Error
&ltdiv class="sh-input-container-icon"&gt
  &ltinput class="sh-input sh-input__error" type="text" name="firstname" placeholder="Nombre"&gt
  &lti class="icon icon-cancel sh-input-icon-right__error"&gt&lt/i&gt
  &ltp class="sh-error-message"&gtEste es un mensaje de error&lt/p&gt
&lt/div&gt

Deshabilitado
&ltinput class="sh-input sh-input__disabled" type="text" disabled&gt
</code></pre>
