<p class="caption">Ejemplo de input para mostrar contraseña</p>
<pre><code class="language-html">&ltdiv class="sh-form-group sh-input-contain-icon"&gt
  &ltinput class="sh-input" type="password"&gt
  &lti class="icon icon-lock sh-form-icon-right__display"&gt&lt/i&gt
&lt/div&gt</code></pre>
<p class="caption">Ejemplo de input para ocultar contraseña</p>
<pre><code class="language-html">&ltdiv class="sh-form-group sh-input-contain-icon"&gt
  &ltinput class="sh-input" type="text"&gt
  &lti class="icon icon-lock-open sh-form-icon-right__display"&gt&lt/i&gt
&lt/div&gt</code></pre>
