<p class="caption">Ejemplo de input para mostrar contraseña</p>
<pre><code class="language-html">&ltdiv class="sh-input-container-icon"&gt
  &ltinput class="sh-input" type="password" name="password" placeholder="Contraseña"&gt
  &lti class="icon icon-eye sh-input-icon-right__display"&gt&lt/i&gt
&lt/div&gt</code></pre>
<p class="caption">Ejemplo de input para mostrar contraseña</p>
<pre><code class="language-html">&ltdiv class="sh-input-container-icon"&gt
  &ltinput class="sh-input" type="text" name="password" placeholder="Contraseña"&gt
  &lti class="icon icon-eye sh-input-icon-right__display"&gt&lt/i&gt
&lt/div&gt</code></pre>
