<p class="caption">Ejemplo de input + icono izquierda</p>
<pre><code class="language-html">&ltdiv class="sh-input-container-icon"&gt
  &lti class="icon icon-user sh-input-icon-left"&gt&lt/i&gt
  &ltinput class="sh-input" type="text" name="firstname" placeholder="Nombre"&gt
&lt/div&gt</code></pre>
<p class="caption">Ejemplo de input + icono derecha</p>
<pre><code class="language-html">&ltdiv class="sh-input-container-icon"&gt
  &ltinput class="sh-input" type="text" name="firstname" placeholder="Nombre"&gt
  &lti class="icon icon-user sh-input-icon-right"&gt&lt/i&gt
&lt/div&gt</code></pre>
