<p class="caption">Ejemplo de input con estados</p>
<pre><code class="language-html">Completado
&ltdiv class="sh-form-group sh-form-contain-icon"&gt
  &ltinput class="sh-input sh-input__sucess" type="text"&gt
  &lti class="icon icon-check sh-form-icon-right__sucess"&gt&lt/i&gt
  &ltspan&gtEste es un mensaje cualquiera&lt/span&gt
&lt/div&gt

Advertencia
&ltdiv class="sh-form-group sh-form-contain-icon"&gt
  &ltinput class="sh-input sh-input__warning" type="text"&gt
  &lti class="icon icon-check sh-form-icon-right__warning"&gt&lt/i&gt
  &ltspan&gtEste es un mensaje cualquiera&lt/span&gt
&lt/div&gt

Error
&ltdiv class="sh-form-group sh-form-contain-icon"&gt
  &ltinput class="sh-input sh-input__error" type="text"&gt
  &lti class="icon icon-check sh-form-icon-right__error"&gt&lt/i&gt
  &ltspan&gtEste es un mensaje cualquiera&lt/span&gt
&lt/div&gt

Deshabilitado
&ltinput class="sh-input sh-input__disabled" type="text" disabled&gt
</code></pre>
