<p class="caption">Ejemplo de fondo con degradado azul</p>
<pre><code class="language-html">&ltdiv class="sh-bg-gradient__blue"&gt
  &lth3&gtLorem ipsum dolor&lt/h3&gt
  &ltp&gtLorem ipsum dolor sit amet, consectetur adipisicing elit.&lt/p&gt
&lt/div&gt</code></pre>
<br>
<p class="caption">Ejemplo de fondo con degradado azul-rojo</p>
<pre><code class="language-html">&ltdiv class="sh-bg-gradient__blue-red"&gt
  &lth3&gtLorem ipsum dolor&lt/h3&gt
  &ltp&gtLorem ipsum dolor sit amet, consectetur adipisicing elit.&lt/p&gt
&lt/div&gt</code></pre>
