<p class="caption">Ejemplo de estructura para overlay azul</p>
<pre><code class="language-html">&ltdiv class="sh-box sh-overlay__blue"&gt
  &ltimg src="imagen.jpg" alt="img"&gt
    &ltdiv class="sh-overlay-content"&gt
      &lth3&gtLorem ipsum dolor&lt/h3&gt
      &ltp&gtLorem ipsum dolor sit amet, consectetur adipisicing elit.&lt/p&gt
    &lt/div&gt
&lt/div&gt</code></pre>
<br>
<p class="caption">Ejemplo de estructura para overlay rojo</p>
<pre><code class="language-html">&ltdiv class="sh-box sh-overlay__red"&gt
  &ltimg src="imagen.jpg" alt="img"&gt
    &ltdiv class="sh-overlay-content"&gt
      &lth3&gtLorem ipsum dolor&lt/h3&gt
      &ltp&gtLorem ipsum dolor sit amet, consectetur adipisicing elit.&lt/p&gt
    &lt/div&gt
&lt/div&gt</code></pre>
