<p class="caption">Ejemplo de grid</p>
<pre><code class="language-html">&ltdiv class="col-xs-1 col-sm-1 col-md-1 col-lg-1"&gt&lt/div&gt
&ltdiv class="col-xs-12 col-sm-12 col-md-2 col-lg-2"&gt&lt/div&gt
&ltdiv class="col-xs-12 col-sm-12 col-md-3 col-lg-3"&gt&lt/div&gt
&ltdiv class="col-xs-12 col-sm-12 col-md-4 col-lg-4"&gt&lt/div&gt
&ltdiv class="col-xs-12 col-sm-12 col-md-5 col-lg-5"&gt&lt/div&gt
&ltdiv class="col-xs-12 col-sm-12 col-md-6 col-lg-1"&gt&lt/div&gt
&ltdiv class="col-xs-12 col-sm-12 col-md-7 col-lg-7"&gt&lt/div&gt
&ltdiv class="col-xs-12 col-sm-12 col-md-8 col-lg-8"&gt&lt/div&gt
&ltdiv class="col-xs-12 col-sm-12 col-md-9 col-lg-9"&gt&lt/div&gt
&ltdiv class="col-xs-12 col-sm-12 col-md-10 col-lg-10"&gt&lt/div&gt
&ltdiv class="col-xs-12 col-sm-12 col-md-11 col-lg-11"&gt&lt/div&gt
&ltdiv class="col-xs-12 col-sm-12 col-md-12 col-lg-12"&gt&lt/div&gt</code></pre>
