<p class="caption">Ejemplo de botón outline</p>
<pre><code class="language-html">&ltbutton class="sh-btn-outline" type="button"&gtStandard&lt/button&gt
&ltbutton class="sh-btn-outline sh-btn-outline_dark" type="button"&gtDark&lt/button&gt
&ltbutton class="sh-btn-outline" type="button" disabled&gtDisabled&lt/button&gt
&ltbutton class="sh-btn-outline sh-btn-outline_sucess" type="button"&gtSucces&lt/button&gt
&ltbutton class="sh-btn-outline sh-btn-outline_warning" type="button"&gtWarning&lt/button&gt
&ltbutton class="sh-btn-outline sh-btn-outline_danger" type="button"&gtDanger&lt/button&gt
<br>
Botón con etiqueta "&lta&gt"
&lta class="sh-btn-outline" href="#" role="button"&gtStandard&lt/a&gt</code></pre>
