<p class="caption">Ejemplo de botón estándar</p>
<pre><code class="language-html">&ltbutton class="sh-btn" type="button"&gtStandard&lt/button&gt
&ltbutton class="sh-btn__dark" type="button"&gtDark&lt/button&gt
&ltbutton class="sh-btn" type="button" disabled&gtDisabled&lt/button&gt
&ltbutton class="sh-btn__sucess" type="button"&gtSucces&lt/button&gt
&ltbutton class="sh-btn__warning" type="button"&gtWarning&lt/button&gt
&ltbutton class="sh-btn__danger" type="button"&gtDanger&lt/button&gt
<br>
Botón con etiqueta "&lta&gt"
&lta class="sh-btn" href="#" role="button"&gtStandard&lt/a&gt</code></pre>
