<p class="caption">Ejemplo de grupo de botones</p>
<pre><code class="language-html">&ltdiv class="sh-btn-group"&gt
  &ltbutton class="sh-btn" type="button"&gtButton1&lt/button&gt
  &ltbutton class="sh-btn" type="button"&gtButton2&lt/button&gt
  &ltbutton class="sh-btn" type="button"&gtButton3&lt/button&gt
&lt/div&gt
<br>
Grupo de botones outline
&ltdiv class="sh-btn-group sh-m-bottom__lg"&gt
  &ltbutton class="sh-btn-outline" type="button"&gtButton1&lt/button&gt
  &ltbutton class="sh-btn-outline" type="button"&gtButton2&lt/button&gt
  &ltbutton class="sh-btn-outline" type="button"&gtButton3&lt/button&gt
&lt/div&gt
</code></pre>
