<p class="caption">Ejemplo de botón con icono por tamaño</p>
<pre><code class="language-html">&ltbutton class="sh-btn sh-btn-icon__sm" type="button"&gt
  &lti class="icon icon-user"&gt&lt/i&gt
&lt/button&gt
&ltbutton class="sh-btn sh-btn-icon__md" type="button"&gt
  &lti class="icon icon-list"&gt&lt/i&gt
&lt/button&gt
&ltbutton class="sh-btn sh-btn-icon__lg" type="button"&gt
  &lti class="icon icon-camera"&gt&lt/i&gt
&lt/button&gt
&ltbutton class="sh-btn__white sh-btn-icon__lg"&gt
  &lti class="icon icon-menu"&gt&lt/i&gt
  &ltspan&gtMenu&lt/span&gt
&lt/button&gt
&ltbutton class="sh-btn__white sh-btn-icon__md"&gt
  &lti class="icon icon-cancel"&gt&lt/i&gt
  &ltspan&gtCerrar&lt/span&gt
&lt/button&gt
<br>
Botón con etiqueta "&lta&gt"
&lta class="sh-btn sh-btn-icon__sm" href="#" role="button"&gt&lti class="icon icon-list"&gt&lt/i&gt&lt/a&gt</code></pre>
