<p class="caption">Ejemplo de botón con texto e icono</p>
<pre><code class="language-html">&ltbutton class="sh-btn sh-btn__sm" type="button"&gt&lti class="icon icon-user"&gt&lt/i&gt Button sm&lt/button&gt
&ltbutton class="sh-btn" type="button"&gtButton md &lti class="icon icon-right-open"&gt&lt/i&gt&lt/button&gt
&ltbutton class="sh-btn sh-btn__lg" type="button"&gt&lti class="icon icon-user"&gt&lt/i&gt Button lg&lt/button&gt
&ltbutton class="sh-btn sh-btn__xl" type="button"&gtButton xl &lti class="icon icon-right-open"&gt&lt/i&gt&lt/button&gt
<br>
Botón con etiqueta "&lta&gt"
&lta class="sh-btn sh-btn__sm" role="button"&gt&lti class="icon icon-user"&gt&lt/i&gt Button sm&lt/a&gt</code></pre>
