<p class="caption">Ejemplo de grupo de botones</p>
<pre><code class="language-html">&ltdiv class="sh-btn-group"&gt
  &ltbutton class="sh-btn" type="button"&gtButton1&lt/button&gt
  &ltbutton class="sh-btn" type="button"&gtButton2&lt/button&gt
  &ltbutton class="sh-btn" type="button"&gtButton3&lt/button&gt
&lt/div&gt
<br>
Grupo de botones con icono
&ltdiv class="sh-btn-group-icon"&gt
  &ltbutton class="sh-btn sh-btn-icon__md" type="button"&gt
    &lti class="icon icon-list"&gt&lt/i&gt
  &lt/button&gt
  &ltbutton class="sh-btn sh-btn-icon__md" type="button"&gt
    &lti class="icon icon-list"&gt&lt/i&gt
  &lt/button&gt
  &ltbutton class="sh-btn sh-btn-icon__md" type="button"&gt
    &lti class="icon icon-list"&gt&lt/i&gt
  &lt/button&gt
&lt/div&gt
</code></pre>
