<p class="caption">Ejemplo de grupo de botones</p>
<pre><code class="language-html">&ltbutton class="sh-btn sh-btn_white" type="button"&gtButton&lt/button&gt
&ltbutton class="sh-btn sh-btn-outline_white" type="button"&gtButton&lt/button&gt
&ltbutton class="sh-btn sh-btn_white" type="button"&gt&lti class="icon icon-user"&gt&lt/i&gt Button&lt/button&gt
&ltbutton class="sh-btn sh-btn-outline_white" type="button"&gtButton &lti class="icon icon-right-open"&gt&lt/i&gt&lt/button&gt
<br>
Botón con etiqueta "&lta&gt"
&lta class="sh-btn sh-btn_white" href="#" role="button"&gtButton&lt/a&gt</code></pre>
