<p class="caption">Ejemplo de botón con icono por tamaño</p>
<pre><code class="language-html">&ltbutton class="sh-btn sh-btn-icon__sm" type="button"&gt&lti class="icon icon-menu"&gt&lt/i&gt&lt/button&gt
&ltbutton class="sh-btn sh-btn-icon__md" type="button"&gt&lti class="icon icon-menu"&gt&lt/i&gt&lt/button&gt
&ltbutton class="sh-btn sh-btn-icon__lg" type="button"&gt&lti class="icon icon-menu"&gt&lt/i&gt&lt/button&gt
&ltbutton class="sh-btn sh-btn-icon__xl" type="button"&gt&lti class="icon icon-menu"&gt&lt/i&gt&lt/button&gt
<br>
Botón con etiqueta "&lta&gt"
&lta class="sh-btn sh-btn-icon__sm" role="button"&gt&lti class="icon icon-list"&gt&lt/i&gt&lt/a&gt</code></pre>
