<p class="caption">Ejemplo de fondo con degradado azul</p>
<pre><code class="language-html">&ltdiv class="sh-bg-gradient__blue"&gt
  &lth3&gtBlue gradient&lt/h3&gt
  &ltp&gtPara fondos en general, destacados, llamadas a la acción, etc.&lt/p&gt
&lt/div&gt</code></pre>
<br>
<p class="caption">Ejemplo de fondo con degradado azul-rojo</p>
<pre><code class="language-html">&ltdiv class="sh-bg-gradient__blue-red"&gt
  &lth3&gtBlue Red gradient&lt/h3&gt
  &ltp&gtPara fondos en general, destacados, llamadas a la acción, etc.&lt/p&gt
&lt/div&gt</code></pre>
