<p class="caption">Ejemplo de fondo overlay azul</p>
<pre><code class="language-html">&ltdiv class="sh-overlay__blue"&gt
  &ltimg src="imagen.jpg" alt="img"&gt
    &ltdiv class="sh-overlay-content"&gt
      &lth3&gtOverlay azul&lt/h3&gt
      &ltp&gtPara fondos que requieran una imagen y texto sobre ella usaremos un overlay.&lt/p&gt
    &lt/div&gt
&lt/div&gt</code></pre>
<br>
<p class="caption">Ejemplo de fondo overlay rojo</p>
<pre><code class="language-html">&ltdiv class="sh-overlay__red"&gt
  &ltimg src="imagen.jpg" alt="img"&gt
    &ltdiv class="sh-overlay-content"&gt
      &lth3&gtOverlay rojo&lt/h3&gt
      &ltp&gtPara fondos que requieran una imagen y texto sobre ella usaremos un overlay.&lt/p&gt
    &lt/div&gt
&lt/div&gt</code></pre>
