// Backgrounds

.sh-bg__blue {background-color: $color-blue;}
.sh-bg__red-cherry {background-color: $color-red-cherry;}
.sh-bg__navy-blue {background-color: $color-navy-blue;}
.sh-bg__dark-navy-blue {background-color: $color-dark-navy-blue;}
.sh-bg__grey {background-color: $color-grey;}
.sh-bg__grey-50 {background-color: $color-grey-50;}
.sh-bg__yellow {background-color: $color-yellow;}
.sh-bg__grass {background-color: $color-grass;}

// Overlays

.sh-overlay__blue {background-color: rgba(3,27,100,0.6)}
