<section id="assets">
    <header>
        <h1>Marca</h1>
        <div class="sh-divider__header"></div>
        <p>Puede descargar la identidad corporativa en el formato que mejor encaje en sus necesidades.</p>
    </header>

    <div class="row sh-m-bottom__xxl">
        <div class="col-xs-12 col-md-4">
            <h5>Alta JPG</h5>
            <p>Logotipos a 300dpi con fondo blanco. Uso recomendado en impresión y formatos offline.</p>
            <a href="./assets/brand/sh-logos-hi.zip" download="sh-logos-hi.zip"><strong><i class="icon icon-download"></i><span style="margin-left: .5em;">Descargar</span></strong></a>
        </div>
    
        <div class="col-xs-12 col-md-4">
            <h5>Baja PNG</h5>
            <p>Logotipos a 72 dpi y sin fondo. Para su uso en medios online, web, social media, banners, etc</p>
            <a href="./assets/brand/sh-logos-low.zip" download="sh-logos-low.zip"><strong><i class="icon icon-download"></i><span style="margin-left: .5em;">Descargar</span></strong></a>
        </div>
    
        <div class="col-xs-12 col-md-4">
            <h5>Vectorial</h5>
            <p>Logotipos en formato .AI para su usar en Illustrator, y en formato .SVG para su uso en web, apps, etc.</p>
            <a href="./assets/brand/sh-logos.zip" download="sh-logos.zip"><strong><i class="icon icon-download"></i><span style="margin-left: .5em;">Descargar</span></strong></a>
        </div>
    </div>
    
    <div class="clearfix"></div>
    
    <header class="sh-m-top__xxl">
        <h1>Sistema diseño</h1>
        <div class="sh-divider__header"></div>
        <p>Puede descargar los elementos y componentes del sistema de diseño en un CSS comprimido o bien los ficheros fuente en Sass.</p>
    </header>

    <div class="row sh-m-bottom__xxl">
        <div class="col-xs-12 col-md-6">
            <h5>CSS</h5>
            <p>Fichero comprimido con todos los estilos del sistema de diseño.</p>
            <a href="./assets/sh-styles.min.css" download="sh-styles.min.css"><strong><i class="icon icon-download"></i><span style="margin-left: .5em;">Descargar</span></strong></a>
        </div>
        
        <div class="col-xs-12 col-md-6">
            <h5>Sass</h5>
            <p>Ficheros de todos los estilos organizados en 3 carpetas core, components y styles.</p>
            <a href="./assets/sass.zip" download="sh-sass.zip"><strong><i class="icon icon-download"></i><span style="margin-left: .5em;">Descargar</span></strong></a>
        </div>
    </div>

</section>
