<section id="backgrounds">     
  <header>
    <h3>Fondos</h3>
    <p class="sh-m-bottom__xl">Fondos o backgrounds que podemos usar para ayudar a la legibilidad de contenidos o dar coherencia a la línea gráfica.</p>
  </header>

  <h5>Overlays</h5>
  <div class="row columns_2 sh-m-bottom__xxl">
     <div>
      <div class="box-copy sh-space sh-overlay__blue" onclick="copyToClipboard('3,27,100,0.6')">
        <span><small>PRIMARIO<br>
        RBGA (3,27,100,0.6)</small></span>
        <span>COPY</span>
      </div>
      <p>Nuestro color principal, lo usaremos para fondos, botones, textos destacados, etc</p> 
     </div> 

     <div>
      <div class="sh-box sh-overlay__blue sh-space sh-text__white">
        <p class="sh-text__h3">Lorem ipsum dolor</p>
        <p>Nuestro color principal, lo usaremos para fondos, botones, textos destacados, etc</p> 
      </div>
     </div> 
     
  </div>

</section>  

/* Sketch doesnt export pattern fills at this point */
background: rgba(0,62,144,0.60);
