<section id="backgrounds">
  <header>
    <h3>Fondos</h3>
    <p class="sh-m-bottom__xl">Fondos o backgrounds que podemos usar para ayudar a la legibilidad de contenidos o dar coherencia a la línea gráfica.</p>
  </header>

  <h5>Overlays</h5>
  <div class="row sh-m-bottom__xl">
    <div class="sh-m-bottom col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="sh-box sh-overlay__blue">
        <img src="img/low/overlay-example.jpg" alt="x">
        <div class="sh-overlay-content">
          <h3>Overlay blue</h3>
          <p>Para fondos que requieran una imagen y texto sobre ella usaremos un overlay.</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="sh-box sh-overlay__red">
        <img src="img/low/overlay-example-3.jpg" alt="x">
        <div class="sh-overlay-content">
          <h3>Overlay red</h3>
          <p>Para fondos que requieran una imagen y texto sobre ella usaremos un overlay.</p>
        </div>
      </div>
    </div>
  </div>
  <!--End row-->

  <div class="sh-m-bottom__xxl">
    <partial src="code-examples/backgrounds/bg-overlay.html"></partial>
  </div>

  <h5>Degradados</h5>
  <div class="row sh-m-bottom__xl">
    <div class="sh-m-bottom col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="sh-box sh-space__lg sh-bg-gradient__blue">
        <h3>Blue gradient</h3>
        <p>Para fondos en general, destacados, llamadas a la acción, etc.</p>
        <span class="sh-m-top__md">
          <small>BLUE<br> #001442 <i class="icon icon-right-open-mini"></i> #003E90 </small>
        </span>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="sh-box sh-space__lg sh-bg-gradient__blue-red">
        <h3>Blue Red gradient</h3>
        <p>Para fondos en general, destacados, llamadas a la acción, etc.</p>
        <span class="sh-m-top__md">
          <small>BLUE RED<br> #003E90 <i class="icon icon-right-open-mini"></i> #E20029 </small>
        </span>
      </div>
    </div>
  </div>
  <!--End row-->

  <div class="sh-m-bottom__xxl">
    <partial src="code-examples/backgrounds/bg-gradient.html"></partial>
  </div>

  <h5>Duotone</h5>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="sh-bg__duotone sh-m-bottom__xl">
        <img src="img/low/duotone-example-4.jpg" alt="x">
        <div class="sh-duotone-content">
          <h3>Duotone</h3>
          <p>Para fondos que requieran una imagen con duotono y texto sobre ella usaremos un duotone.</p>
        </div>
      </div>
    </div>
  </div>
  <!--End row-->

  <div>
    <partial src="code-examples/backgrounds/bg-duotone.html"></partial>
  </div>

</section>
