<section id="brandelements">
  <header>
    <h1>@@title</h1>
    <div class="sh-divider__header"></div>
    <p>Mostramos aquí ejemplos de aplicaciones corporativas, elementos de papelería, merchandising, vayas publicitarias, uniformes, vehículos, etc.</p>
  </header>

  <div class="row sh-m-bottom__xxl">
    <div class="col-xs-12">
      <h5>Elementos corporativos</h5>
        <img src="img/low/mockup-herco.jpg" alt="Palelería corporativa HERCO">
    </div> 
  </div>

  <div class="row sh-m-bottom__xxl">
    <div class="col-xs-12 col-md-6">
      <h5>Vaya publicitaria</h5>
      <img src="img/low/billboard.png" alt="Vaya HERCO">
    </div> 
    <div class="col-xs-12 col-md-6">
      <h5>Publicidad exterior</h5>
      <img src="img/low/adbus.jpg" alt="Publicidad HERCO">
    </div> 
  </div>

  <div class="row sh-m-bottom__xxl">
    <div class="col-xs-12 col-md-6">
      <h5>Vehículos</h5>
      <img src="img/low/van.png" alt="Furgoneta HERCO">
    </div> 
    <div class="col-xs-12 col-md-6">
      <h5>Uniformes</h5>
      <img src="img/low/tshirt.png" alt="Polo HERCO">
    </div> 
  </div>
</section>
