<section id="buttons">
  <header>
    <h1>Componentes</h1>
    <div class="sh-divider__header"></div>
    <h3>Botones/links</h3>
    <p class="sh-m-bottom__xl"></p>
  </header>

  <h5>Estándar</h5>
    <div class="row columns_3 sh-m-bottom__lg">
        <button class="sh-btn" type="button">Standard</button>
        <button class="sh-btn sh-btn_dark" type="button">Dark</button>
        <button class="sh-btn" disabled type="button">Disabled</button>
        <button class="sh-btn sh-btn_sucess" type="button">Sucess</button>
        <button class="sh-btn sh-btn_warning" type="button">Warning</button>
        <button class="sh-btn sh-btn_danger" type="button">Danger</button>
    </div>

    <div class="sh-m-bottom__xl">
      <partial src="code-examples/buttons/btn-standard.html"></partial>
    </div>  <!-- End row -->

  <h5>Outline</h5>
    <div class="row columns_3 sh-m-bottom__lg">
        <button class="sh-btn-outline" type="button">Standard</button>
        <button class="sh-btn-outline sh-btn-outline_active" type="button">Active</button>
        <button class="sh-btn-outline" type="button" disabled>Disabled</button>
        <button class="sh-btn-outline sh-btn-outline_sucess" type="button">Sucess</button>
        <button class="sh-btn-outline sh-btn-outline_warning" type="button">Warning</button>
        <button class="sh-btn-outline sh-btn-outline_danger" type="button">Danger</button>
    </div>

  <div class="sh-m-bottom__xl">
    <partial src="code-examples/buttons/btn-outline.html"></partial>
  </div> <!-- End row -->


  <h5>Botones sobre fondo</h5>
    <div class="btn-box-example">
      <button class="sh-btn sh-btn_white" type="button">Button</button>
      <button class="sh-btn sh-btn-outline_white" type="button">Button</button>
      <button class="sh-btn sh-btn_white" type="button"><i class="icon icon-user"></i> Button</button>
      <button class="sh-btn sh-btn-outline_white" type="button">Button <i class="icon icon-right-open"></i></button>
    </div>

    <div class="sh-m-bottom__xl">
      <partial src="code-examples/buttons/btn-over-bg.html"></partial>
    </div> <!-- End row -->

  <h5>Tamaños</h5>
    <div class="dflex sh-m-bottom__xl">
      <button class="sh-btn sh-btn__sm" type="button">Button sm</button>
      <button class="sh-btn" type="button">Button md</button>
      <button class="sh-btn sh-btn__lg" type="button">Button lg</button>
      <button class="sh-btn sh-btn__xl" type="button">Button xl</button>
    </div>

    <div class="sh-m-bottom__lg">
      <button  class="sh-btn sh-btn__full"> Full width</button>
    </div>

  <div class="sh-m-bottom__xl">
    <partial src="code-examples/buttons/btn-sizes.html"></partial>
  </div>  <!-- End row -->

  <h5>Botones con icono</h5>
    <div class="dflex sh-m-bottom__lg">
      <button class="sh-btn sh-btn-icon__sm" type="button"><i class="icon icon-menu"></i></button>
      <button class="sh-btn sh-btn-icon__md" type="button"><i class="icon icon-menu"></i></button>
      <button class="sh-btn sh-btn-icon__lg" type="button"><i class="icon icon-menu"></i></button>
      <button class="sh-btn sh-btn-icon__xl" type="button"><i class="icon icon-menu"></i></button>
    </div>

    <div class="sh-m-bottom__xl">
      <partial src="code-examples/buttons/btn-icons.html"></partial>
    </div>  <!-- End row -->

  <h5>Botones con texto e icono</h5>
    <div class="dflex sh-m-bottom__lg">
      <button class="sh-btn sh-btn__sm" type="button"><i class="icon icon-user"></i> Button sm</button>
      <button class="sh-btn" type="button">Button md <i class="icon icon-right-open"></i></button>
      <button class="sh-btn sh-btn__lg" type="button"><i class="icon icon-user"></i> Button lg</button>
      <button class="sh-btn sh-btn__xl" type="button">Button xl <i class="icon icon-right-open"></i></button>
    </div>

    <div class="sh-m-bottom__xl">
      <partial src="code-examples/buttons/btn-icon-text.html"></partial>
    </div>  <!-- End row -->

  <h5>Grupo de botones</h5>
      <div class="sh-btn-group sh-m-bottom__lg">
        <button class="sh-btn" type="button">Button1</button>
        <button class="sh-btn" type="button">Button2</button>
        <button class="sh-btn" type="button">Button3</button>
        <button class="sh-btn" type="button">Button4</button>
      </div>

  <div class="sh-m-bottom__xl">
    <partial src="code-examples/buttons/btn-group.html"></partial>
  </div>  <!-- End row -->

  <div class="">
    <h5>Links</h5>
    <p>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud <a href="#">hover state</a> exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>

</section>
