<section id="buttons">
  <header>
    <h1>@@title</h1>
    <div class="sh-divider__header"></div>
    <p class="sh-m-bottom__xl">Los estilos de los botones vienen de diferentes formas. Tenemos una clase principal y otras para especificar qué tipo de
      botón queremos, así como otras para aplicar tamaños y una para formar un grupo de botones. También se pueden utilizar con la etiqueta &lta&gt.</p>
  </header>

  <h5>Estándar</h5>
  <p>Estilos de botón estándar.</p>
  <div class="row">
    <div class="col-xs-12 col-md-4 sh-m-bottom">
      <button class="sh-btn sh-btn__full" type="button">Standard</button>
    </div>
    <div class="col-xs-12 col-md-4 sh-m-bottom">
      <button class="sh-btn sh-btn_dark sh-btn__full" type="button">Dark</button>
    </div>
    <div class="col-xs-12 col-md-4 sh-m-bottom">
      <button class="sh-btn sh-btn__full" disabled type="button">Disabled</button>
    </div>
    <div class="col-xs-12 col-md-4 sh-m-bottom">
      <button class="sh-btn sh-btn_sucess sh-btn__full" type="button">Sucess</button>
    </div>
    <div class="col-xs-12 col-md-4 sh-m-bottom">
      <button class="sh-btn sh-btn_warning sh-btn__full" type="button">Warning</button>
    </div>
    <div class="col-xs-12 col-md-4">
      <button class="sh-btn sh-btn_danger sh-btn__full" type="button">Danger</button>
    </div>
  </div>

  <div class="sh-m-bottom__xl">
    <partial src="code-examples/buttons/btn-standard.html"></partial>
  </div> <!-- End row -->

  <h5>Outline</h5>
  <p>Estilos de botón outline.</p>
  <div class="row">
    <div class="col-xs-12 col-md-4 sh-m-bottom">
      <button class="sh-btn-outline sh-btn__full" type="button">Standard</button>
    </div>
    <div class="col-xs-12 col-md-4 sh-m-bottom">
      <button class="sh-btn-outline sh-btn__full sh-btn-outline_dark" type="button">Dark</button>
    </div>
    <div class="col-xs-12 col-md-4 sh-m-bottom">
      <button class="sh-btn-outline sh-btn__full" type="button" disabled>Disabled</button>
    </div>
    <div class="col-xs-12 col-md-4 sh-m-bottom">
      <button class="sh-btn-outline sh-btn__full sh-btn-outline_sucess" type="button">Sucess</button>
    </div>
    <div class="col-xs-12 col-md-4 sh-m-bottom">
      <button class="sh-btn-outline sh-btn__full sh-btn-outline_warning" type="button">Warning</button>
    </div>
    <div class="col-xs-12 col-md-4">
      <button class="sh-btn-outline sh-btn__full sh-btn-outline_danger" type="button">Danger</button>
    </div>
  </div>

  <div class="sh-m-bottom__xl">
    <partial src="code-examples/buttons/btn-outline.html"></partial>
  </div> <!-- End row -->


  <h5>Botones sobre fondo</h5>
  <p>Estilos que utilizaremos sobre un fondo oscuro.</p>
  <div class="btn-box-example">
    <button class="sh-btn sh-btn_white" type="button">Button</button>
    <button class="sh-btn-outline sh-btn-outline_white" type="button">Button</button>
    <button class="sh-btn sh-btn_white" type="button"><i class="icon icon-user"></i> Button</button>
    <button class="sh-btn-outline sh-btn-outline__white-bg" type="button">Button <i class="icon icon-right-open"></i></button>
  </div>

  <div class="sh-m-bottom__xl">
    <partial src="code-examples/buttons/btn-over-bg.html"></partial>
  </div> <!-- End row -->

  <h5>Tamaños</h5>
  <p>Clases para dar tamaño a nuestros botones.</p>
  <div class="dflex sh-m-bottom__xl">
    <button class="sh-btn sh-btn__sm" type="button">Button sm</button>
    <button class="sh-btn" type="button">Button md</button>
    <button class="sh-btn sh-btn__lg" type="button">Button lg</button>
  </div>

  <div class="sh-m-bottom__lg">
    <button class="sh-btn sh-btn__full">Full width</button>
  </div>

  <div class="sh-m-bottom__xl">
    <partial src="code-examples/buttons/btn-sizes.html"></partial>
  </div> <!-- End row -->

  <h5>Botones con icono</h5>
  <p>Ejemplo de cómo utilizar iconos en nuestros botones.</p>
  <div class="dflex sh-m-bottom__lg">
    <button class="sh-btn sh-btn-icon__sm" type="button"><i class="icon icon-menu"></i></button>
    <button class="sh-btn sh-btn-icon__md" type="button"><i class="icon icon-menu"></i></button>
    <button class="sh-btn sh-btn-icon__lg" type="button"><i class="icon icon-menu"></i></button>
  </div>

  <div class="sh-m-bottom__xl">
    <partial src="code-examples/buttons/btn-icons.html"></partial>
  </div> <!-- End row -->

  <h5>Botones con texto e icono</h5>
  <div class="dflex sh-m-bottom__lg">
    <button class="sh-btn sh-btn-icon-padd__right sh-btn__sm" type="button"><i class="icon icon-user"></i> Button sm</button>
    <button class="sh-btn sh-btn-icon-padd__left" type="button">Button md <i class="icon icon-right-open"></i></button>
    <button class="sh-btn sh-btn-icon-padd__right sh-btn__lg" type="button"><i class="icon icon-user"></i> Button lg</button>
  </div>

  <div class="sh-m-bottom__xl">
    <partial src="code-examples/buttons/btn-icon-text.html"></partial>
  </div> <!-- End row -->

  <h5>Grupo de botones</h5>
  <p>Ejemplo de un grupo de botones.</p>
  <div class="sh-btn-group sh-m-bottom__lg">
    <button class="sh-btn" type="button">Button1</button>
    <button class="sh-btn" type="button">Button2</button>
    <button class="sh-btn" type="button">Button3</button>
  </div>

  <div class="sh-btn-group sh-m-bottom__lg">
    <button class="sh-btn-outline" type="button">Button1</button>
    <button class="sh-btn-outline" type="button">Button2</button>
    <button class="sh-btn-outline" type="button">Button3</button>
  </div>

  <div class="sh-m-bottom__xl">
    <partial src="code-examples/buttons/btn-group.html"></partial>
  </div> <!-- End row -->

  <h5>Botón con icono y texto debajo</h5>
  <div>
    <button class="sh-btn-icon__md sh-btn-icon__tag">
      <i class="icon icon-cancel"></i>
      <span>CERRAR</span>
    </button>
  </div>

  <div class="sh-m-bottom__xl">
    <partial src="code-examples/buttons/btn-icon-tag.html"></partial>
  </div> <!-- End row -->

  <div>
    <h5>Links</h5>
    <p>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud <a href="#">hover state</a> exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>
</section>
