<section id="cards">
  <header>
    <h1>Cards</h1>
    <div class="sh-divider__header"></div>
    <p>Cartas de producto</p>
  </header>

<div class="columns_3">
  <div class="sh-card">
    <div class="sh-card__head">
      <a href="#">
        <img src="img/low/user.png" alt="x">
      </a>
      <label class="sh-switch">
        <input type="checkbox">
        <span></span>
      </label>
      <span class="sh-card__switch__text sh-text__sm">Comparar</span>
      <span class="sh-badge">Top ventas</span>
    </div>

    <div class="sh-card__body">
      <strong class="sh-card__body__brand">Herco</strong>
      <h5 class="sh-card__body__text">Descripcion del producto...</h5>
      <strong class="sh-card__body__price">30€</strong>
    </div>

    <div class="sh-card__footer">
      <button class="sh-btn sh-btn__full" type="button">Añadir al carro</button>
    </div>
  </div> <!-- end sh-card -->

  <div class="sh-card">
    <div class="sh-card__head">
      <a href="#">
        <img src="img/low/user.png" alt="x">
      </a>
      <label class="sh-switch">
        <input type="checkbox">
        <span></span>
      </label>
      <span class="sh-card__switch__text sh-text__sm">Comparar</span>
      <span class="sh-badge sh-badge-red">Promoción</span>
    </div>

    <div class="sh-card__body">
      <strong class="sh-card__body__brand">Herco</strong>
      <h5 class="sh-card__body__text">Descripcion del producto...</h5>
      <strong class="sh-card__body__price">30€</strong>
    </div>

    <div class="sh-card__footer">
      <button class="sh-btn sh-btn__full" type="button">Añadir al carro</button>
    </div>
  </div> <!-- end sh-card -->

  <div class="sh-card">
    <div class="sh-card__head">
      <a href="#">
        <img src="img/low/user.png" alt="x">
      </a>
      <label class="sh-switch">
        <input type="checkbox">
        <span></span>
      </label>
      <span class="sh-card__switch__text sh-text__sm">Comparar</span>
      <span class="sh-badge sh-badge-green">Novedad</span>
    </div>

    <div class="sh-card__body">
      <strong class="sh-card__body__brand">Herco</strong>
      <h5 class="sh-card__body__text">Descripcion del producto...</h5>
      <strong class="sh-card__body__price">30€</strong>
    </div>

    <div class="sh-card__footer">
      <button class="sh-btn sh-btn__full" type="button">Añadir al carro</button>
    </div>
  </div> <!-- end sh-card -->
</div> <!-- end row -->

<div class="sh-m-bottom__xxl">
  <partial src="code-examples/cards/cards.html"></partial>
</div>

</section>
