<section id="cards">
  <header>
    <h1>Cards</h1>
    <div class="sh-divider__header"></div>
    <p>Cartas de producto</p>
  </header>

  <div class="row top-xs">
    <div class="sh-card col-xs-4">
      <div class="sh-card__head">
        <a href="#">
          <img src="img/low/user.png" alt="x">
        </a>
        <label class="sh-switch">
          <input type="checkbox">
          <span></span>
        </label>
        <span class="sh-card__switch__text">
          <small><strong>Comparar</strong></small>
        </span>
        <span class="sh-badge">Top ventas</span>
      </div>

      <div class="sh-card__body">
        <div>
          <h6>APOLO/CELO</h6>
        </div>
        <div>
          <span class="sh-card__body__text"><strong>Apolo Taco Nylon Avellanado NPC</strong></span>
        </div>
        <div>
          <span class="sh-card__body__price">
            <strong>0,35 €</strong>
          </span>
        </div>
      </div>

      <div class="sh-card__footer">
        <button class="sh-btn sh-btn__full" type="button">Añadir al carro</button>
      </div>
    </div>

    <div class="sh-card col-xs-4">
      <div class="sh-card__head">
        <a href="#">
          <img src="img/low/user.png" alt="x">
        </a>
      </div>
      <div class="sh-card__body">
        <div>
          <h6>APOLO/CELO</h6>
        </div>
        <div>
          <span class="sh-card__body__text"><b>Apolo Taco Nylon Avellanado NPC</b></span>
        </div>
        <div>
          <span class="sh-card__body__price">
            <b>0,35 €</b>
          </span>
        </div>
      </div>

      <div class="sh-card__footer">
        <button class="sh-btn sh-btn__full" type="button">Añadir al carro</button>
      </div>
    </div>
    <div class="sh-card_searcher col-xs-3">
      <div class="sh-card__head">
        <a href="#">
          <img src="img/low/user.png" alt="x">
        </a>
      </div>
      <div class="sh-card__body">
        <div>
          <h6>APOLO/CELO</h6>
        </div>
        <div>
          <span class="sh-card__body__text"><b>Apolo Taco Nylon Avellanado NPC</b></span>
        </div>
        <div>
          <span class="sh-card__body__price">
            <b>0,35 €</b>
          </span>
        </div>
      </div>

      <div class="sh-card__footer">
        <button class="sh-btn sh-btn__full" type="button">Añadir al carro</button>
      </div>
    </div>
  </div>

  <div class="sh-m-bottom__xl">
    <partial src="code-examples/cards/cards.html"></partial>
  </div>
</section>
