<section id="colors">
  <header>
    <h1>@@title</h1>
    <div class="sh-divider__header"></div>
    <p>Para dotar de coherencia en nuestros productos digitales usaremos siempre la misma paleta de colores.</p>
  </header>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h5>Blue</h5>
      <div class="box-copy sh-space sh-bg__blue" onclick="copyToClipboard('#003E90')">
        <span><small>HEX #003E90<br>
            RBG (0,62,144)</small></span>
        <span>COPY</span>
      </div>
      <p>Nuestro color principal, lo usaremos para fondos, botones, textos destacados, etc</p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h5>Red Cherry</h5>
      <div class="box-copy sh-space sh-bg__red-cherry" onclick="copyToClipboard('#E20029')">
        <span><small>HEX #E20029<br>
            RBG (226,0,41)</small></span>
        <span>COPY</span>
      </div>
      <p>Color secundario, lo usaremos para fondos, botones destacados, alertas...</p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h5>Navy Blue</h5>
      <div class="box-copy sh-space sh-bg__navy-blue" onclick="copyToClipboard('#001442')">
        <span><small>HEX #001442<br>
            RBG (0,20,66)</small></span>
        <span>COPY</span>
      </div>
      <p>Color terciario, lo usaremos para fondos, footer, iconos, cajas...</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h5>Dark Navy blue</h5>
      <div class="box-copy sh-space sh-bg__dark-navy-blue" onclick="copyToClipboard('#03001B')">
        <span><small>HEX #03001B<br>
            RBG (3,27,100)</small></span>
        <span>COPY</span>
      </div>
      <p>Color de encabezados y textos destacados, también complementario a terciario.</p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h5>Grey</h5>
      <div class="box-copy sh-space sh-bg__grey" onclick="copyToClipboard('#606060')">
        <span><small>HEX #606060<br>
            RBG (96,96,96)</small></span>
        <span>COPY</span>
      </div>
      <p>Color de textos, siempre con fondo blanco. Si el fondo no es blanco usaremos Black.</p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h5>Light grey</h5>
      <div class="box-copy sh-space sh-bg__grey-50" onclick="copyToClipboard('#E1E1E1')">
        <span><small>HEX #E1E1E1<br>
            RBG (225,225,225)</small></span>
        <span>COPY</span>
      </div>
      <p>Color de caption, estados desactivados, hover o fondos.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h5>Success</h5>
      <div class="box-copy sh-space sh-bg__grass" onclick="copyToClipboard('#19A560')">
        <span><small>HEX #19A560<br>
            RBG (25,165,96)</small></span>
        <span>COPY</span>
      </div>
      <p>Color para alertas, estados o inputs completados con éxito.</p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h5>Alerta</h5>
      <div class="box-copy sh-space sh-bg__yellow" onclick="copyToClipboard('#DCD20C')">
        <span><small>HEX #DCD20C<br>
            RBG (220,210,12)</small></span>
        <span>COPY</span>
      </div>
      <p>Color para alertas, estados o inputs que necesiten revisión o confimación.</p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h5>Error</h5>
      <div class="box-copy sh-space sh-bg__red-cherry" onclick="copyToClipboard('#E20029')">
        <span><small>HEX #E20029<br>
            RBG (226,0,41)</small></span>
        <span>COPY</span>
      </div>
      <p>Color para alertas y errores.</p>
    </div>
  </div>
</section>
