<section id="construction">
  <header>
    <h1>@@title</h1>
    <div class="sh-divider__header"></div>
    <p>Se ha modificado la marca original, ajustando el kerning y algunos glifos. El logotipo y sus componentes de ajustan a una retícula con medidas exactas para un reescalado progresivo. Se establece un área de protección para la marca.</p>
  </header>

  <div class="row sh-m-bottom__xxl">
    <div class="col-xs-12 col-md-6">
      <h5>Logotipo</h5>
      <div class="box">
        <img src="img/low/Const-1.png" width="400px">
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <h5>Logotipo + Claim</h5>
      <div class="box">
        <img src="img/low/Const-2.png" width="400px">
      </div>
    </div>
  </div>

  <div class="row sh-m-bottom__xxl">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h5>Logotipo (En pixels)</h5>
      <div class="box">
        <img src="img/low/Const-3.png" width="400px">
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h5>Logotipo + Claim (En pixels)</h5>
      <div class="box">
        <img src="img/low/Const-4.png" width="400px">
      </div>
    </div>
  </div>

  <div class="row sh-m-bottom__xxl">
    <div class="col-xs-12">
      <h5>Área de protección</h5>
      <div>
        <img src="img/low/area-proteccion.png" alt="Herco Logotipo claim">
        <p>X represnta la altura del logotipo, X dividivo entre 2 marca el área mínima que se debe establecer entre el logotipo y otros elementos y/o márgenes.</p>
      </div>
    </div> 
  </div>


</section>
