<section id="dontuse">
  <header>
    <h1>@@title</h1>
    <div class="sh-divider__header"></div>
    <p>No abuse de su marca. Escale su marca de manera proporcional, no la distorsione. No cambie los elementos o añada nuevos. Use siempre los archivos originales que se adjutan en el apartado de Assets.</p>
  </header>

  <div class="row sh-m-bottom__xxl">
    <div class="col-xs-12 col-md-6">
      <h5>NO distorsionar</h5>
      <div class="box">
        <img src="img/low/dontuse-1.png">
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <h5>NO cambiar elementos</h5>
      <div class="box">
        <img src="img/low/dontuse-2.png">
      </div>
    </div>
  </div>

  <div class="row sh-m-bottom__xxl">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h5>NO cambiar colores</h5>
      <div class="box">
        <img src="img/low/dontuse-3.png">
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h5>NO cambiar tipografías</h5>
      <div class="box">
        <img src="img/low/dontuse-4.png">
      </div>
    </div>
  </div>
  
</section>
