<section id="elements">
  <header>
    <h3>Elementos</h3>
    <p class="sh-m-bottom__xl">Elementos y/o estructura que usaremos para dar estilos a nuestros formularios</p>
  </header>

  <div class="row columns_3 sh-m-bottom__lg">
    <div>
      <h5>Checkboxes</h5>
      <label class="sh-check-group">Item1
        <input type="checkbox" checked="checked">
        <span class="sh-checkmark"></span>
      </label>

      <label class="sh-check-group">Item2
        <input type="checkbox">
        <span class="sh-checkmark"></span>
      </label>

      <label class="sh-check-group">Item3
        <input type="checkbox">
        <span class="sh-checkmark"></span>
      </label>

      <label class="sh-check-group">Disabled
        <input type="checkbox" disabled>
        <span class="sh-checkmark"></span>
      </label>
    </div>

    <div>
      <h5>Radio buttons</h5>
      <label class="sh-check-group">Item1
        <input type="radio" checked="checked" name="radio">
        <span class="sh-radiomark"></span>
      </label>

      <label class="sh-check-group">Item2
        <input type="radio" name="radio">
        <span class="sh-radiomark"></span>
      </label>

      <label class="sh-check-group">Item3
        <input type="radio" name="radio">
        <span class="sh-radiomark"></span>
      </label>

      <label class="sh-check-group">Disabled
        <input type="radio" name="radio" disabled>
        <span class="sh-radiomark"></span>
      </label>
    </div>

    <div>
      <h5>Toggle Switches</h5>
      <label class="sh-switch sh-m-bottom__lg">
        <input type="checkbox">
        <span></span>
        <p class="parrafo">Off</p>
      </label>
      <br>
      <label class="sh-switch sh-m-bottom__lg">
        <input type="checkbox" checked="checked">
        <span></span>
        <p class="parrafo">On</p>
      </label>
      <br>
      <label class="sh-switch">
        <input type="checkbox" disabled>
        <span></span>
        <p class="parrafo">Disabled</p>
      </label>
    </div>
  </div>

  <div class="sh-m-bottom__xl">
    <partial src="code-examples/elements/checkboxes.html"></partial>
  </div>

<h5>Alertas</h5>
  <div class="row columns_2">
    <div class="sh-alert sh-alert__info">
      <i class="icon icon-info-circled"></i>
      <span class="sh-close-alert" onclick="this.parentElement.style.display='none';">&times;</span>
      <div>Alerta para indicar algún tipo de información, que no sea muy importante</div>
    </div>

    <div class="sh-alert sh-alert__sucess">
      <i class="icon icon-check"></i>
      <span class="sh-close-alert" onclick="this.parentElement.style.display='none';">&times;</span>
      <div>Alerta para indicar que hemos hecho el trabajo correctamente</div>
    </div>

    <div class="sh-alert sh-alert__warning">
      <i class="icon icon-attention"></i>
      <span class="sh-close-alert" onclick="this.parentElement.style.display='none';">&times;</span>
      <div>¡Atención! Esta alerta indica una acción potencialmente peligrosa</div>
    </div>

    <div class="sh-alert sh-alert__error">
      <i class="icon icon-cancel-circled"></i>
      <span class="sh-close-alert" onclick="this.parentElement.style.display='none';">&times;</span>
      <div>¡Atención! Esta alerta indica una acción peligrosa o un error</div>
    </div>
  </div>

  <div class="sh-m-bottom__xl">
    <partial src="code-examples/elements/alerts.html"></partial>
  </div>

  <h5>Badges</h5>
    <div class="sh-m-bottom__lg">
      <span class="sh-badge">10</span>
      <span class="sh-badge sh-badge-green">3</span>
      <span class="sh-badge sh-badge-grey">5 Nuevo!</span>
    </div>

    <div class="sh-m-bottom__xl">
      <partial src="code-examples/elements/badges.html"></partial>
    </div>

  <h5>Chips</h5>
  <div class="sh-chip">
    <img src="img/low/user.png" alt="Person" width="96" height="96">
    Pedro Juan
  </div>
  <div class="sh-chip">
    <img src="img/low/user.png" alt="Person" width="96" height="96">
    Pedro Juan
    <span class="sh-close-chip" onclick="this.parentElement.style.display='none'"><i class="icon icon-cancel-circled"></i></span>
  </div>

  <div class="sh-m-bottom__xl">
    <partial src="code-examples/elements/chips.html"></partial>
  </div>
</section>
