<section id="forms">
  <header>
    <h3>Formularios</h3>
    <p class="sh-m-bottom__xl">Elementos y/o estructura que usaremos para dar estilos a nuestros formularios</p>
  </header>

<div>
  <h5>Inputs</h5>
    <div class="row columns_2">
      <div>
        <h6>Input</h6>
        <input class="sh-input" type="text" name="firstname" placeholder="Nombre">
      </div>

      <div>
        <h6>Input + label </h6>
        <label for="fname">Nombre</label>
        <input class="sh-input" id="fname" type="text" name="firstname">
      </div>
    </div> <!-- End row -->

    <div class="sh-m-bottom__xl">
      <partial src="code-examples/forms/input-type.html"></partial>
    </div>

    <div class="row columns_2 sh-m-bottom__lg">
      <div>
        <h6>Input + icon left</h6>
        <div class="sh-input-container-icon">
          <i class="icon icon-user sh-input-icon-left"></i>
          <input class="sh-input" type="text" name="firstname" placeholder="Nombre">
        </div>
      </div>

      <div>
        <h6>Input + icon right</h6>
        <div class="sh-input-container-icon">
          <input class="sh-input" type="text" name="firstname" placeholder="Nombre">
          <i class="icon icon-user sh-input-icon-right"></i>
        </div>
      </div>
    </div> <!-- End row -->

    <div class="sh-m-bottom__xl">
      <partial src="code-examples/forms/input-icon.html"></partial>
    </div>
</div> <!-- End block -->

<div>
  <h5>Icono para mostrar/ocultar</h5>
    <div class="row columns_2 sh-m-bottom__lg">
      <div>
        <h6>Icon show password</h6>
        <div class="sh-input-container-icon">
          <input class="sh-input" type="password" name="password" placeholder="Contraseña">
          <i class="icon icon-eye sh-input-icon-right__display"></i>
        </div>
      </div>

      <div>
        <h6>Icon hide password</h6>
        <div class="sh-input-container-icon">
          <input class="sh-input" type="text" name="password" placeholder="Contraseña">
          <i class="icon icon-eye sh-input-icon-right__display"></i>
        </div>
      </div>
    </div> <!-- End row -->

    <div class="sh-m-bottom__xl">
      <partial src="code-examples/forms/input-icon-display.html"></partial>
    </div>
</div><!-- End block -->

<div>
  <h5>Estados</h5>
    <div class="row columns_2">
      <div>
        <h6>Succes</h6>
          <div class="sh-input-container-icon">
            <input class="sh-input sh-input__sucess" type="text" name="firstname" placeholder="Nombre">
            <i class="icon icon-check sh-input-icon-right__sucess"></i>
          </div>
      </div>

      <div>
        <h6>Warning</h6>
          <div class="sh-input-container-icon">
            <input class="sh-input sh-input__warning" type="text" name="firstname" placeholder="Nombre">
            <i class="icon icon-attention sh-input-icon-right__warning"></i>
          </div>
      </div>
    </div> <!-- End row -->

    <div class="row columns_2 sh-m-bottom__lg">
      <div>
        <h6>Error</h6>
          <div class="sh-input-container-icon">
            <input class="sh-input sh-input__error" type="text" name="firstname" placeholder="Nombre">
            <i class="icon icon-cancel sh-input-icon-right__error"></i>
            <p class="sh-error-message">Este es un mensaje de error</p>
          </div>
      </div>

      <div>
        <h6>Disabled</h6>
        <input class="sh-input sh-input__disabled" type="text" name="firstname" placeholder="Deshabilitado" disabled>
      </div>
    </div>

    <div class="sh-m-bottom__xl">
      <partial src="code-examples/forms/input-states.html"></partial>
    </div>
</div> <!-- End block -->

<div class="row">
  <h5>Área de texto</h5>
  <textarea class="sh-text-area" name="comments" rows="8" cols="50" style="width:100%;" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."></textarea>
</div>

<div class="sh-m-bottom__xl">
  <partial src="code-examples/forms/input-text-area.html"></partial>
</div>  <!-- End row -->
