<section id="forms">
  <header>
    <h3>Formularios</h3>
    <p class="sh-m-bottom__xl">Elementos y/o estructura que usaremos para dar estilos a nuestros formularios</p>
  </header>


  <h5>Inputs</h5>
  <div class="row columns_2">
    <div>
      <h6>Input</h6>
      <input class="sh-input margin-help" type="text" placeholder="Tu nombre...">
    </div>

    <div>
      <h6>Input + label</h6>
      <div class="sh-form-group">
        <label class="sh-label" for="finame">Nombre</label>
        <input class="sh-input" id="finame" type="text">
      </div>
    </div>
  </div> <!-- End row -->

  <div class="sh-m-bottom__xl">
    <partial src="code-examples/forms/input-type.html"></partial>
  </div>

  <div class="row columns_2">
    <div>
      <h6>Input + icon left</h6>
      <div class="sh-form-group sh-form-contain-icon">
        <i class="icon icon-user sh-form-icon-left"></i>
        <input class="sh-input" type="text">
      </div>
    </div>

    <div>
      <h6>Input + icon right</h6>
      <div class="sh-form-group sh-form-contain-icon">
        <input class="sh-input" type="text">
        <i class="icon icon-user sh-form-icon-right"></i>
      </div>
    </div>
  </div> <!-- End row -->

  <div class="row">
    <h6>Double Icon</h6>
    <div class="sh-form-group sh-form-contain-icon">
      <i class="icon icon-user sh-form-icon-left"></i>
      <input class="sh-input" type="text">
      <i class="icon icon-user sh-form-icon-right"></i>
    </div>
  </div> <!-- End row -->

  <div class="sh-m-bottom__xl">
    <partial src="code-examples/forms/input-icon.html"></partial>
  </div>


  <h5>Icono para mostrar/ocultar</h5>
  <div class="row columns_2 sh-m-bottom__lg">
    <div>
      <h6>Icon show password</h6>
      <div class="sh-form-group sh-form-contain-icon">
        <input class="sh-input" type="password">
        <i class="icon icon-lock sh-form-icon-right__display"></i>
      </div>
    </div>

    <div>
      <h6>Icon hide password</h6>
      <div class="sh-form-group sh-form-contain-icon">
        <input class="sh-input" type="text">
        <i class="icon icon-lock-open sh-form-icon-right__display"></i>
      </div>
    </div>
  </div> <!-- End row -->

    <div class="sh-m-bottom__xl">
      <partial src="code-examples/forms/input-icon-display.html"></partial>
    </div>

  <h5>Estados</h5>
  <div class="row columns_2">
    <div>
      <h6>Succes</h6>
      <div class="sh-form-group sh-form-contain-icon">
        <input class="sh-input sh-input__sucess" type="text">
        <i class="icon icon-check sh-form-icon-right__sucess"></i>
        <span>Este es un mensaje cualquiera</span>
      </div>
    </div>

    <div>
      <h6>Warning</h6>
      <div class="sh-form-group sh-form-contain-icon">
        <input class="sh-input sh-input__warning" type="text">
        <i class="icon icon-attention sh-form-icon-right__warning"></i>
        <span>Este es un mensaje cualquiera</span>
      </div>
    </div>
  </div> <!-- End row -->

  <div class="row columns_2 sh-m-bottom__lg">
    <div>
      <h6>Error</h6>
      <div class="sh-form-group sh-form-contain-icon">
        <input class="sh-input sh-input__error" type="text">
        <i class="icon icon-cancel sh-form-icon-right__error"></i>
        <span>Este es un mensaje cualquiera</span>
      </div>
    </div>

    <div>
      <h6>Disabled</h6>
      <input class="sh-input sh-input__disabled" type="text" placeholder="Deshabilitado" disabled>
    </div>
  </div> <!-- End row -->

  <div class="sh-m-bottom__xl">
    <partial src="code-examples/forms/input-states.html"></partial>
  </div>

  <div class="row">
    <h5>Área de texto</h5>
    <textarea class="sh-text-area" rows="8" cols="50" style="width:100%;" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."></textarea>
  </div>

  <div class="sh-m-bottom__xl">
    <partial src="code-examples/forms/input-text-area.html"></partial>
  </div>

  <h5>Ejemplo de formulario</h5>
  <form action="/contact" method="get">
    <div class="row columns_2 sh-m-bottom__lg">
      <div class="sh-form-group">
        <label class="sh-label" for="fname">Nombre *</label>
        <input class="sh-input" id="fname" type="text" name="firstname" placeholder="Tu nombre..." required>
      </div>

      <div class="sh-form-group">
        <label class="sh-label" for="lname">Apellidos *</label>
        <input class="sh-input" id="lname" type="text" name="lastname" placeholder="Tus apellidos..." required>
      </div>

      <div class="sh-form-group">
        <label class="sh-label" for="pnumber">Teléfono</label>
        <input class="sh-input" id="pnumber" type="text" name="phonenumber" placeholder="Tu teléfono...">
      </div>

      <div class="sh-form-group">
        <label class="sh-label" for="email">E-mail *</label>
        <input class="sh-input" id="email" type="email" name="email" placeholder="Tu e-mail..." required>
      </div>
    </div>

    <textarea class="sh-text-area" name="comments" rows="8" cols="50" style="width:100%;" placeholder="Escriba aquí su consulta"></textarea>

    <input class="sh-btn sh-m-top__lg" type="submit" value="submit">
  </form> <!-- End block -->

  <div class="sh-m-bottom__xl">
    <partial src="code-examples/forms/form-example.html"></partial>
  </div>
</section>
