<section id="forms">
  <header>
    <h1>@@title</h1>
    <div class="sh-divider__header"></div>
    <p class="sh-m-bottom__xl">Elementos y/o estructura que usaremos para dar estilos a nuestros formularios</p>
  </header>


  <h5>Inputs</h5>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h6>Input</h6>
      <div class="sh-form-group">
        <input class="sh-input" type="text" placeholder="Tu nombre...">
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <h6>Input con label</h6>
      <div class="sh-form-group">
        <label class="sh-label" for="finame">Nombre</label>
        <input class="sh-input" id="finame" type="text">
      </div>
    </div>
  </div> <!-- End row -->

  <div class="sh-m-top__xl sh-m-bottom__xl">
    <partial src="code-examples/forms/input-type.html"></partial>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h6>Input con icono principal a la izquierda</h6>
      <div class="sh-form-group sh-form-contain-icon">
        <i class="icon icon-user sh-form-icon-primary__left"></i>
        <input class="sh-input" type="text">
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <h6>Input con icono principal a la derecha</h6>
      <div class="sh-form-group sh-form-contain-icon">
        <i class="icon icon-user sh-form-icon-primary__right"></i>
        <input class="sh-input" type="text">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h6>Input con icono secundario a la izquierda</h6>
      <div class="sh-form-group sh-form-contain-icon">
        <i class="icon icon-user sh-form-icon-secondary__left"></i>
        <input class="sh-input" type="text">
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <h6>Input con icono secundario a la derecha</h6>
      <div class="sh-form-group sh-form-contain-icon">
        <i class="icon icon-user sh-form-icon-secondary__right"></i>
        <input class="sh-input" type="text">
      </div>
    </div>
  </div> <!-- End row -->

  <div class="row">
    <div class="col-xs-12 sh-m-bottom__lg">
      <h6>Input con doble icono</h6>
      <div class="sh-form-group sh-form-contain-icon">
        <i class="icon icon-user sh-form-icon-primary__left"></i>
        <input class="sh-input" type="text">
        <i class="icon icon-user sh-form-icon-secondary__right"></i>
      </div>
    </div>
    <strong class="col-xs-12">Cabe destacar que el icono principal siempre debe anteceder al input</strong>
  </div> <!-- End row -->


  <div class="sh-m-top__xl sh-m-bottom__xl">
    <partial src="code-examples/forms/input-icon.html"></partial>
  </div>


  <h5>Icono para mostrar/ocultar</h5>
  <div class="row sh-m-bottom__lg">
    <div class="col-xs-12 col-md-6">
      <h6>Icon show password</h6>
      <div class="sh-form-group sh-form-contain-icon">
        <input class="sh-input" type="password">
        <i class="icon icon-lock sh-form-icon-secondary__right"></i>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <h6>Icon hide password</h6>
      <div class="sh-form-group sh-form-contain-icon">
        <input class="sh-input" type="text">
        <i class="icon icon-lock-open sh-form-icon-secondary__right"></i>
      </div>
    </div>
  </div> <!-- End row -->

  <div class="sh-m-top__xl sh-m-bottom__xl">
    <partial src="code-examples/forms/input-icon-display.html"></partial>
  </div> <!-- End row -->

  <h5>Inputs por tamaño</h5>
  <div class="row bottom-xs">
    <div class="col-xs-12 col-md-4">
      <h6>Input pequeño</h6>
      <div class="sh-form-group sh-form-contain-icon">
        <input class="sh-input sh-btn__sm" type="text">
      </div>
    </div>

    <div class="col-xs-12 col-md-4 bottom-xs">
      <h6>Input estándar</h6>
      <div class="sh-form-group sh-form-contain-icon">
        <input class="sh-input" type="text">
      </div>
    </div>

    <div class="col-xs-12 col-md-4 bottom-xs">
      <h6>Input grande</h6>
      <div class="sh-form-group sh-form-contain-icon">
        <input class="sh-input sh-btn__lg" type="text">
      </div>
    </div>
  </div> <!-- End row -->

  <div class="sh-m-top__xl sh-m-bottom__xl">
    <partial src="code-examples/forms/input-sizes.html"></partial>
  </div> <!-- End row -->

  <h5>Estados</h5>
  <div class="row">
    <div class="col-xs-12 col-md-6 sh-m-bottom__lg">
      <h6>Succes</h6>
      <div class="sh-form-group sh-form-contain-icon">
        <input class="sh-input sh-input__sucess" type="text">
        <i class="icon icon-check sh-form-icon-secondary__sucess"></i>
        <span>Este es un mensaje cualquiera</span>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 sh-m-bottom__lg">
      <h6>Warning</h6>
      <div class="sh-form-group sh-form-contain-icon">
        <input class="sh-input sh-input__warning" type="text">
        <i class="icon icon-attention sh-form-icon-secondary__warning"></i>
        <span>Este es un mensaje cualquiera</span>
      </div>
    </div>
  </div> <!-- End row -->

  <div class="row sh-m-bottom__lg">
    <div class="col-xs-12 col-md-6">
      <h6>Error</h6>
      <div class="sh-form-group sh-form-contain-icon">
        <input class="sh-input sh-input__error" type="text">
        <i class="icon icon-cancel sh-form-icon-secondary__error"></i>
        <span>Este es un mensaje cualquiera</span>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <h6>Disabled</h6>
      <div class="sh-form-group">
        <input class="sh-input sh-input__disabled" type="text" placeholder="Deshabilitado" disabled>
      </div>
    </div>
  </div> <!-- End row -->

  <div class="sh-m-top__xl sh-m-bottom__xl">
    <partial src="code-examples/forms/input-states.html"></partial>
  </div>

  <div class="row">
    <div class="col-xs-12 sh-m-bottom__xl">
      <h5>Área de texto</h5>
      <textarea class="sh-text-area" rows="8" cols="50" style="width:100%;" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."></textarea>
    </div>
  </div>

  <div class="sh-m-top__xl sh-m-bottom__xl">
    <partial src="code-examples/forms/input-text-area.html"></partial>
  </div>

  <h5>Ejemplo de formulario</h5>

  <div class="row">
    <div class="col-xs-12 col-md-6 sh-bg__navy-blue sh-space__lg">
      <form action="" method="">
        <div class="sh-form-group sh-form-contain-icon sh-form__lg sh-m-bottom__lg">
          <i class="icon icon-user sh-form-icon-secondary__right"></i>
          <input class="sh-input" id="fname" type="text" name="firstname" placeholder="Usuario o email" required>
        </div>

        <div class="sh-form-group sh-form-contain-icon sh-form__lg sh-m-bottom__lg">
          <i class="icon icon-lock sh-form-icon-secondary__right"></i>
          <input class="sh-input" id="password" type="password" name="password" placeholder="Contraseña" required>
        </div>

        <div class="sh-m-bottom__lg">
          <input class="sh-btn__blue sh-btn__lg sh-btn__full" type="submit" value="Enviar">
        </div>
      </form>

      <div class="sh-text__white">
        <p>¿No tienes cuenta? <a href="#">Regístrate</a></p>
        <p>¿Olvidaste tu contraseña? <a href="#">Recuperar</a></p>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 sh-bg__blue sh-space__lg">
      <form action="" method="">
        <div class="sh-form-group sh-form-contain-icon sh-form__lg sh-m-bottom__lg">
          <i class="icon icon-rocket sh-form-icon-secondary__right"></i>
          <input class="sh-input" id="pedido" type="text" name="pedido" placeholder="Referencia" required>
        </div>

        <div class="sh-m-bottom__lg">
          <input class="sh-btn__navy-blue sh-btn__lg sh-btn__full" type="submit" value="Localizar">
        </div>
      </form>

      <div class="sh-text__white">
        <p>¿Tienes un problema? <a class="sh-text__white" href="#">Contactar</a></p>
      </div>
    </div>
  </div>

  <div class="sh-m-top__xl sh-m-bottom__xl">
    <partial src="code-examples/forms/form-example.html"></partial>
  </div>

</section>
