<section id="grid">
  <header>
    <h1>@@title</h1>
    <div class="sh-divider__header"></div>
    <p class="sh-m-bottom__xl">Para la maquetación usaremos el sistema de 12 columnas <a href="http://flexboxgrid.com" target="_blank">Flexbox Grid</a></p>
  </header>


    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 center-lg">
        <div class="box-row">1</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 center-lg">
        <div class="box-row">1</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 center-lg">
        <div class="box-row">1</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 center-lg">
        <div class="box-row">1</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 center-lg">
        <div class="box-row">1</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 center-lg">
        <div class="box-row">1</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 center-lg">
        <div class="box-row">1</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 center-lg">
        <div class="box-row">1</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 center-lg">
        <div class="box-row">1</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 center-lg">
        <div class="box-row">1</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 center-lg">
        <div class="box-row">1</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 center-lg">
        <div class="box-row">1</div>
      </div>
    </div> <!-- end row -->

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 center-lg">
        <div class="box-row">2</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 center-lg">
        <div class="box-row">2</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 center-lg">
        <div class="box-row">2</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 center-lg">
        <div class="box-row">2</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 center-lg">
        <div class="box-row">2</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 center-lg">
        <div class="box-row">2</div>
      </div>
    </div> <!-- end row -->

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 center-lg">
        <div class="box-row">3</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 center-lg">
        <div class="box-row">3</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 center-lg">
        <div class="box-row">3</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 center-lg">
        <div class="box-row">3</div>
      </div>
    </div> <!-- end row -->

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center-lg">
        <div class="box-row">4</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center-lg">
        <div class="box-row">4</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center-lg">
        <div class="box-row">4</div>
      </div>
    </div> <!-- end row -->

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 center-lg">
        <div class="box-row">5</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 center-lg">
        <div class="box-row">5</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 center-lg">
        <div class="box-row">2</div>
      </div>
    </div> <!-- end row -->

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 center-lg">
        <div class="box-row">6</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 center-lg">
        <div class="box-row">6</div>
      </div>
    </div> <!-- end row -->

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 center-lg">
        <div class="box-row">7</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 center-lg">
        <div class="box-row">5</div>
      </div>
    </div> <!-- end row -->

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 center-lg">
        <div class="box-row">8</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center-lg">
        <div class="box-row">4</div>
      </div>
    </div> <!-- end row -->

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 center-lg">
        <div class="box-row">9</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 center-lg">
        <div class="box-row">3</div>
      </div>
    </div> <!-- end row -->

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 center-lg">
        <div class="box-row">10</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 center-lg">
        <div class="box-row">2</div>
      </div>
    </div> <!-- end row -->

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 center-lg">
        <div class="box-row">11</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 center-lg">
        <div class="box-row">1</div>
      </div>
    </div> <!-- end row -->

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-lg">
        <div class="box-row">12</div>
      </div>
    </div> <!-- end row -->


  <div class="sh-m-bottom__xl">
    <partial src="code-examples/grid/grid-example.html"></partial>
  </div>
</section>
