<section id="icons">
	<header>
    	<h3>Iconos</h3>
    	<p class="sh-m-bottom__xl">Los iconos mostrados podrán utilizarse como tipografía. Disponemos de 180 iconos.</p>
  </header>

	<h5>Estándar</h5>
	<div class="row columns_4">
    <div><i class="icon icon-cup"></i> <span>icon-cup</span></div>
    <div><i class="icon icon-lamp"></i> <span></span>icon-lamp</div>
    <div><i class="icon icon-light-up"></i> <span>icon-light-up</span></div>
    <div><i class="icon icon-adjust"></i> <span>icon-adjust</span></div>
    <div><i class="icon icon-level-down"></i> <span>icon-level-down</span></div>
    <div><i class="icon icon-level-up"></i> <span>icon-level-up</span></div>
    <div><i class="icon icon-switch"></i> <span>icon-switch</span></div>
    <div><i class="icon icon-progress-1"></i> <span>icon-progress-1</span></div>
    <div><i class="icon icon-progress-2"></i> <span>icon-progress-2</span></div>
    <div><i class="icon icon-progress-3"></i> <span>icon-progress-3</span></div>
    <div><i class="icon icon-target"></i> <span>icon-target</span></div>
    <div><i class="icon icon-list"></i> <span>icon-list</span></div>
    <div><i class="icon icon-list-add"></i> <span>icon-list-add</span></div>
    <div><i class="icon icon-signal"></i> <span>icon-signal</span></div>
    <div><i class="icon icon-battery"></i> <span>icon-battery</span></div>
    <div><i class="icon icon-monitor"></i> <span>icon-monitor</span></div>
    <div><i class="icon icon-mobile"></i> <span>icon-mobile</span></div>
    <div><i class="icon icon-globe"></i> <span>icon-globe</span></div>
    <div><i class="icon icon-install"></i> <span>icon-install</span></div>
    <div><i class="icon icon-mouse"></i> <span>icon-mouse</span></div>
    <div><i class="icon icon-briefcase"></i> <span>icon-briefcase</span></div>
    <div><i class="icon icon-dot"></i> <span>icon-dot</span></div>
    <div><i class="icon icon-dot-2"></i> <span>icon-dot-2</span></div>
    <div><i class="icon icon-dot-3"></i> <span>icon-dot-3</span></div>
    <div><i class="icon icon-erase"></i> <span>icon-erase</span></div>
    <div><i class="icon icon-chart-pie"></i> <span>icon-chart-pie</span></div>
    <div><i class="icon icon-chart-line"></i> <span>icon-chart-line</span></div>
    <div><i class="icon icon-chart-bar"></i> <span>icon-chart-bar</span></div>
    <div><i class="icon icon-chart-area"></i> <span>icon-chart-area</span></div>
    <div><i class="icon icon-graduation-cap"></i> <span>icon-graduation-cap</span></div>
    <div><i class="icon icon-note-beamed"></i> <span>icon-note-beamed</span></div>
    <div><i class="icon icon-map"></i> <span>icon-map</span></div>
    <div><i class="icon icon-doc-text"></i> <span>icon-doc-text</span></div>
    <div><i class="icon icon-key"></i> <span>icon-key</span></div>
    <div><i class="icon icon-bucket"></i> <span>icon-bucket</span></div>
    <div><i class="icon icon-megaphone"></i> <span>icon-megaphone</span></div>
    <div><i class="icon icon-clipboard"></i> <span>icon-clipboard</span></div>
    <div><i class="icon icon-air"></i> <span>icon-air</span></div>
    <div><i class="icon icon-ticket"></i> <span>icon-ticket</span></div>
    <div><i class="icon icon-rocket"></i> <span>icon-rocket</span></div>
    <div><i class="icon icon-gauge"></i> <span>icon-gauge</span></div>
    <div><i class="icon icon-traffic-cone"></i> <span>icon-traffic-cone</span></div>
    <div><i class="icon icon-drive"></i> <span>icon-drive</span></div>
    <div><i class="icon icon-doc-text-inv"></i> <span>icon-doc-text-inv</span></div>
    <div><i class="icon icon-database"></i> <span>icon-database</span></div>
    <div><i class="icon icon-vcard"></i> <span>icon-vcard</span></div>
    <div><i class="icon icon-pencil"></i> <span>icon-pencil</span></div>
    <div><i class="icon icon-attach"></i> <span>icon-attach</span></div>
    <div><i class="icon icon-newspaper"></i> <span>icon-newspaper</span></div>
    <div><i class="icon icon-leaf"></i> <span>icon-leaf</span></div>
    <div><i class="icon icon-address"></i> <span>icon-address</span></div>
  </div>

	<h5 class="sh-m-top__lg">Flechas direccionales</h5>
	<div class="row columns_4">
		<div><i class="icon icon-down-open"></i> <span>icon-down-open</span></div>
		<div><i class="icon icon-left-open"></i> <span>icon-left-open</span></div>
		<div><i class="icon icon-right-open"></i> <span>icon-right-open</span></div>
		<div><i class="icon icon-up-open"></i> <span>icon-up-open</span></div>
		<div><i class="icon icon-down-open-mini"></i> <span>icon-down-open-mini</span></div>
		<div><i class="icon icon-left-open-mini"></i> <span>icon-left-open-mini</span></div>
		<div><i class="icon icon-right-open-mini"></i> <span>icon-right-open-mini</span></div>
		<div><i class="icon icon-up-open-mini"></i> <span>icon-up-open-mini</span></div>
		<div><i class="icon icon-down-dir"></i> <span>icon-down-dir</span></div>
		<div><i class="icon icon-left-dir"></i> <span>icon-left-dir</span></div>
		<div><i class="icon icon-up-dir"></i> <span>icon-up-dir</span></div>
		<div><i class="icon icon-up-dir"></i> <span>icon-up-dir</span></div>
		<div><i class="icon icon-down-circled"></i> <span>icon-down-circled</span></div>
		<div><i class="icon icon-left-circled"></i> <span>icon-left-circled</span></div>
    <div><i class="icon icon-right-circled"></i> <span>icon-right-circled</span></div>
		<div><i class="icon icon-up-circled"></i> <span>icon-up-circled</span></div>
		<div><i class="icon icon-arrow-combo"></i> <span>icon-arrow-combo</span></div>
	</div>

	<h5 class="sh-m-top__lg">Interfaz</h5>
	<div class="row columns_4">
		<div><i class="icon icon-search"></i> <span>icon-search</span></div>
		<div><i class="icon icon-mail"></i> <span>icon-mail</span></div>
		<div><i class="icon icon-user"></i> <span>icon-user</span></div>
		<div><i class="icon icon-users"></i> <span>icon-users</span></div>
		<div><i class="icon icon-user-add"></i><span>icon-user-add</span></div>
		<div><i class="icon icon-video"></i> <span>icon-videop</span></div>
		<div><i class="icon icon-picture"></i> <span>icon-picture</span></div>
		<div><i class="icon icon-camera"></i> <span>icon-camera</span></div>
		<div><i class="icon icon-layout"></i> <span>icon-layout</span></div>
		<div><i class="icon icon-menu"></i> <span>icon-menu</span></div>
		<div><i class="icon icon-check"></i> <span>icon-check</span></div>
		<div><i class="icon icon-cancel"></i> <span>icon-cancel</span></div>
		<div><i class="icon icon-cancel-circled"></i><span>icon-cancel-circled</span></div>
		<div><i class="icon icon-plus"></i> <span>icon-plus</span></div>
		<div><i class="icon icon-plus-circled"></i> <span>icon-plus-circled</span></div>
		<div><i class="icon icon-plus-squared"></i> <span>icon-plus-squared</span></div>
		<div><i class="icon icon-minus"></i> <span>icon-minus</span></div>
		<div><i class="icon icon-minus-circled"></i> <span>icon-minus-circled</span></div>
		<div><i class="icon icon-minus-squared"></i> <span>icon-minus-squared</span></div>
		<div><i class="icon icon-help"></i> <span>icon-help</span></div>
		<div><i class="icon icon-help-circled"></i> <span>icon-help-circled</span></div>
		<div><i class="icon icon-info"></i> <span>icon-info</span></div>
		<div><i class="icon icon-info-circled"></i> <span>icon-info-circled</span></div>
		<div><i class="icon icon-back"></i> <span>icon-back</span></div>
		<div><i class="icon icon-home"></i> <span>icon-home</span></div>
		<div><i class="icon icon-link"></i> <span>icon-link</span></div>
		<div><i class="icon icon-lock"></i> <span>icon-lock</span></div>
		<div><i class="icon icon-lock-open"></i> <span>icon-lock-open</span></div>
		<div><i class="icon icon-eye"></i> <span>icon-eye</span></div>
		<div><i class="icon icon-tag"></i> <span>icon-tag</span></div>
		<div><i class="icon icon-bookmark"></i> <span>icon-bookmark</span></div>
		<div><i class="icon icon-bookmarks"></i> <span>icon-bookmarks</span></div>
		<div><i class="icon icon-thumbs-up"></i> <span>icon-thumbs-up</span></div>
		<div><i class="icon icon-thumbs-down"></i> <span>icon-thumbs-down</span></div>
		<div><i class="icon icon-upload"></i> <span></span>icon-upload</div>
		<div><i class="icon icon-download"></i> <span></span>icon-download</div>
		<div><i class="icon icon-upload-cloud"></i> <span>icon-upload-cloud</span></div>
		<div><i class="icon icon-reply"></i> <span>icon-reply</span></div>
		<div><i class="icon icon-reply-all"></i> <span>icon-reply-all</span></div>
		<div><i class="icon icon-forward"></i> <span>icon-forward</span></div>
		<div><i class="icon icon-quote"></i> <span>icon-quote</span></div>
		<div><i class="icon icon-code"></i> <span>icon-code</span></div>
		<div><i class="icon icon-export"></i> <span>icon-export</span></div>
		<div><i class="icon icon-print"></i> <span>icon-print</span></div>
		<div><i class="icon icon-retweet"></i> <span>icon-retweet</span></div>
		<div><i class="icon icon-comment"></i> <span>icon-comment</span></div>
		<div><i class="icon icon-book"></i> <span>icon-book</span></div>
		<div><i class="icon icon-chat"></i> <span>icon-chat</span></div>
		<div><i class="icon icon-bell"></i> <span>icon-bell</span></div>
		<div><i class="icon icon-attention"></i> <span>icon-attention</span></div>
		<div><i class="icon icon-location"></i> <span>icon-location</span></div>
		<div><i class="icon icon-cog"></i> <span>icon-cog</span></div>
		<div><i class="icon icon-rss"></i> <span>icon-rss</span></div>
		<div><i class="icon icon-tools"></i> <span>icon-tools</span></div>
		<div><i class="icon icon-calendar"></i> <span>icon-calendar</span></div>
		<div><i class="icon icon-login"></i> <span>icon-login</span></div>
		<div><i class="icon icon-logout"></i> <span>icon-logout</span></div>
		<div><i class="icon icon-clock"></i> <span>icon-clock</span></div>
		<div><i class="icon icon-block"></i> <span>icon-block</span></div>
		<div><i class="icon icon-phone"></i> <span>icon-phone</span></div>
		<div><i class="icon icon-heart"></i> <span>icon-heart</span></div>
		<div><i class="icon icon-heart-empty"></i> <span>icon-heart-empty</span></div>
		<div><i class="icon icon-share"></i> <span>icon-share</span></div>
		<div><i class="icon icon-star"></i> <span>icon-star</span></div>
		<div><i class="icon icon-star-empty"></i> <span>icon-star-empty</span></div>
	</div>

	<h5 class="sh-m-top__lg">Audio y vídeo</h5>
	<div class="row columns_4">
		<div><i class="icon icon-play"></i> <span>icon-play</span></div>
		<div><i class="icon icon-stop"></i> <span>icon-stop</span></div>
		<div><i class="icon icon-pause"></i> <span>icon-pause</span></div>
		<div><i class="icon icon-record"></i> <span>icon-record</span></div>
		<div><i class="icon icon-loop"></i> <span>icon-loop</span></div>
		<div><i class="icon icon-to-end"></i> <span>icon-to-end</span></div>
		<div><i class="icon icon-to-start"></i> <span>icon-to-start</span></div>
		<div><i class="icon icon-fast-forward"></i> <span>icon-fast-forward</span></div>
		<div><i class="icon icon-fast-backward"></i> <span>icon-fast-backward</span></div>
		<div><i class="icon icon-mute"></i> <span>icon-mute</span></div>
    <div><i class="icon icon-sound"></i> <span>icon-sound</span></div>
    <div><i class="icon icon-mic"></i> <span>icon-mic</span></div>
    <div><i class="icon icon-resize-full"></i> <span>icon-resize-full</span></div>
    <div><i class="icon icon-resize-small"></i> <span>icon-resize-small</span></div>
		<div><i class="icon icon-ccw"></i> <span></span>icon-ccw</div>
		<div><i class="icon icon-cw"></i> <span></span>icon-cw</div>
		<div><i class="icon icon-arrows-ccw"></i> <span>icon-arrows-ccw</span></div>
		<div><i class="icon icon-shuffle"></i> <span>icon-shuffle</span></div>
		<div><i class="icon icon-back-in-time"></i> <span>icon-back-in-time</span></div>
		<div><i class="icon icon-volume"></i> <span>icon-volume</span></div>
	</div>

	<h5 class="sh-m-top__lg">Tienda</h5>
	<div class="row columns_4">
		<div><i class="icon icon-trash"></i> <span>icon-trash</span></div>
		<div><i class="icon icon-basket"></i> <span>icon-basket</span></div>
    <div><i class="icon icon-bag"></i> <span>icon-bag</span></div>
		<div><i class="icon icon-credit-card"></i> <span>icon-credit-card</span></div>
	</div>

  <h5 class="sh-m-top__lg">Métodos de pago</h5>
  <div class="row columns_4">
    <div><i class="icon icon-cc-visa"></i> <span>icon-cc-visa</span></div>
    <div><i class="icon icon-cc-mastercard"></i> <span>icon-cc-mastercard</span></div>
    <div><i class="icon icon-cc-discover"></i> <span>icon-cc-discover</span></div>
    <div><i class="icon icon-cc-amex"></i> <span>icon-cc-amex</span></div>
    <div><i class="icon icon-cc-paypal"></i> <span>icon-cc-paypal</span></div>
    <div><i class="icon icon-cc-stripe"></i> <span>icon-cc-stripe</span></div>
    <div><i class="icon icon-cc-jcb"></i> <span>icon-cc-jcb</span></div>
  </div>

  <h5 class="sh-m-top__lg">Social</h5>
  <div class="row columns_4">
    <div><i class="icon icon-twitter"></i> <span>icon-twitter</span></div>
    <div><i class="icon icon-facebook"></i> <span>icon-facebook</span></div>
    <div><i class="icon icon-linkedin"></i> <span>icon-linkedin</span></div>
    <div><i class="icon icon-youtube-play"></i> <span>icon-youtube-play</span></div>
    <div><i class="icon icon-dropbox"></i> <span>icon-dropbox</span></div>
    <div><i class="icon icon-instagram"></i> <span>icon-instagram</span></div>
    <div><i class="icon icon-apple"></i> <span>icon-apple</span></div>
    <div><i class="icon icon-android"></i> <span>icon-android</span></div>
    <div><i class="icon icon-skype"></i> <span>icon-skype</span></div>
    <div><i class="icon icon-slack"></i> <span>icon-slack</span></div>
    <div><i class="icon icon-paypal"></i> <span>icon-paypal</span></div>
    <div><i class="icon icon-pinterest"></i> <span>icon-pinterest</span></div>
    <div><i class="icon icon-whatsapp"></i> <span>icon-whatsapp</span></div>
    <div><i class="icon icon-vimeo"></i> <span>icon-vimeo</span></div>
    <div><i class="icon icon-snapchat-ghost"></i> <span>icon-snapchat-ghost</span></div>
  </div>

  <p class="caption sh-m-top__xl">Ejemplo HTML</p>
  <pre><code class="language-html"> &lti class="icon icon-menu"&gt&lt/i&gt icon-menu </code></pre>

</section>
