<section id="logos">
  <header>
    <h1>@@title</h1>
    <div class="sh-divider__header"></div>
    <p>Usaremos principalmente el logotipo sin el símbolo. Para la web disponemos de varios formatos y colores en SVG. Disponibles para descarga en la sección de Assets.</p>
  </header>

  <div class="row sh-m-bottom__xxl">
    <div class="col-xs-12 col-md-6">
      <h5>Logotipo primario</h5>
      <div class="box">
        <img src="svg/SH-Logo-Red.svg" alt="Herco Logotipo">
        <p class="sh-m-top__xl">Lo usaremos siempre como opción principal en nuestras comunicaciones. Por ejemplo un catálogo, website o elementos corporativos.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <h5>Logotipo + Claim</h5>
      <div class="box">
        <img src="svg/SH-Logo-Claim.svg" alt="Herco Logotipo claim" width="400px" height="48px">
        <p>Lo usaremos en los casos en que nuestra marca aparezca en medios o ámbitos no relacionados con nuestro campo. Por ejemplo, un evento deportivo.</p>
      </div>
    </div>
  </div>

  <div class="row sh-m-bottom__xxl">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h5>Logotipo + Símbolo</h5>
      <div class="box">
        <img src="svg/SH-Logo-Symbol.svg" alt="Herco Logotipo claim" width="400px" height="48px">
        <p>Será nuestra segunda opción, a ser posible lo usaremos solo en formatos offline.</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h5>Logotipo + Símbolo + Claim</h5>
      <div class="box">
        <img src="svg/SH-Logo-Symbol-Claim.svg" alt="Herco Logotipo claim" width="400px" height="48px">
        <p>Será nuestra última opción, preferiblemente usado en grandes formatos.</p>
      </div>
    </div>
  </div>

  <div class="row sh-m-bottom__xxl">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h5>Negativo</h5>
      <div class="sh-space__xl sh-bg__blue">
        <img src="svg/SH-Logo-White.svg" alt="Herco Logotipo claim" width="400px" height="48px">
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h5>Con fondo</h5>
      <div class="sh-space__xl sh-bg-gradient__blue-red">
        <img src="svg/SH-Logo-White.svg" alt="Herco Logotipo claim" width="400px" height="48px">
      </div>
    </div>
  </div>

  <div class="row sh-m-bottom__xxl">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h5>Positivo</h5>
      <div class="sh-space__xl sh-bg__grey-50">
        <img src="svg/SH-Logo-Black.svg" alt="Herco Logotipo claim" width="400px" height="48px">
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h5>Positivo azul</h5>
      <div class="sh-space__xl sh-bg__grey-50">
        <img src="svg/SH-Logo-Blue.svg" alt="Herco Logotipo claim" width="400px" height="48px">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h5>Iconos</h5>
      <div class="box">
        <img src="img/low/SH-icon-blue.png" alt="herco icon">
        <img src="img/low/SH-icon-gradient.png" alt="herco icon">
        <img src="img/low/SH-icon-white.png" alt="herco icon">
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <h5>Favicon y tamaño mínimo</h5>
      <div class="row">
        <div class="col-xs-4">
          <img src="img/low/favicon-32.png" alt="herco icon"><br>
          <small>Favicon 32px</small>
        </div>
        
        <div class="col-xs-4">
          <img src="img/low/favicon-16.png" alt="herco icon"><br>
          <small>Favicon 16px</small>
        </div>
        
        <div class="col-xs-4">
          <img src="svg/SH-Logo-Red.svg" alt="Herco Logotipo" width="80px"><br>
          <small>Logotipo 80px</small>
        </div>
        
      </div>
    </div>
  </div>
</section>
