<section id="selects">
  <header>
    <h1>@@title</h1>
    <div class="sh-divider__header"></div>
    <p class="sh-m-bottom__xl">Tenemos a nuestra disposición estilos para checkboxes, radio buttons, switches, alertas, etc.</p>
  </header>

  <div class="row sh-m-bottom__lg">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h5>Checkboxes</h5>
      <label class="sh-check-group">Item1
        <input type="checkbox" checked="checked">
        <span class="sh-checkmark"></span>
      </label>

      <label class="sh-check-group">Item2
        <input type="checkbox">
        <span class="sh-checkmark"></span>
      </label>

      <label class="sh-check-group">Item3
        <input type="checkbox">
        <span class="sh-checkmark"></span>
      </label>

      <label class="sh-check-group">Disabled
        <input type="checkbox" disabled>
        <span class="sh-checkmark"></span>
      </label>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h5>Radio buttons</h5>
      <label class="sh-check-group">Item1
        <input type="radio" checked="checked" name="radio">
        <span class="sh-radiomark"></span>
      </label>

      <label class="sh-check-group">Item2
        <input type="radio" name="radio">
        <span class="sh-radiomark"></span>
      </label>

      <label class="sh-check-group">Item3
        <input type="radio" name="radio">
        <span class="sh-radiomark"></span>
      </label>

      <label class="sh-check-group">Disabled
        <input type="radio" name="radio" disabled>
        <span class="sh-radiomark"></span>
      </label>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h5>Toggle Switches</h5>
      <div class="row">
        <div class="col-xs-4">
      <label class="sh-switch">
        <input type="checkbox">
        <span></span>
      </label>
      <p class="parrafo">Off</p>
      </div>
      <br>
      <div class="col-xs-4">
      <label class="sh-switch">
        <input type="checkbox" checked="checked">
        <span></span>
      </label>
      <p class="parrafo">On</p>
      </div>
      <br>
      <div class="col-xs-4">
      <label class="sh-switch">
        <input type="checkbox" disabled>
        <span></span>
      </label>
      <p class="parrafo">Disabled</p>
      </div>
    </div>
    </div>
  </div>

  <div class="sh-m-bottom__xl">
    <partial src="code-examples/elements/checkboxes.html"></partial>
  </div>

  <!-- <h5 class="sh-m-top__lg sh-m-bottom__lg">Selector</h5>
  <div class="sh-select-container">
    <select>
      <option selected>Elige una opción</option>
      <option>Opción 1</option>
      <option>Opción 2</option>
      <option>Opción 3</option>
    </select>
  </div>
  <br>
  <br>
  <div class="sh-m-top__xl sh-m-bottom__xl">
    <partial src="code-examples/buttons/select.html"></partial>
  </div> <!-- End row -->
</section>
