<aside id="sidenav" class="sh-space__lg">
    <header class="">
        <img src="img/low/logo.svg" alt="Suministros Herco">
    </header>

    <nav role="navigation">
      <ul class="vertical_nav">
        <li class="nav_header sh-text__h5">Marca</li>
        <li><a href="#logos">Logos</a></li>
        <li class="disable">Filosofía</li>
        <li class="disable">Tono de voz</li>

        <li class="nav_header sh-text__h5">Estilos</li>
        <li><a href="#colors">Colores</a></li>
        <li><a href="#typography">Tipografías</a></li>
        <li><a href="#icons">Iconos</a></li>
        <li><a href="#backgrounds">Fondos</a></li>
        <li class="disable">Espacios</li>
        <li class="disable">Grid</li>

        <li class="nav_header sh-text__h5">Componentes</li>
        <li><a href="#buttons">Botones & links</a></li>
        <li>Formularios</li>
        <li>Elementos</li>
        <li>Navegación</li>
        <li class="disable">Dropdowns</li>
        <li class="disable">Menús</li>
        <li class="disable">Card</li>

        <li class="nav_header sh-text__h5">Assets</li>
      </ul>
    </nav>
</aside>
