<section id="typography">
  <header>
    <h3>Tipografías</h3>
    <p class="sh-m-bottom__xl">Actualmente existen hasta 5 tipografías diferentes en la tienda online. Para evitar eso hemos seleccionados 2 familias y aplicado una jerarquía.</p>
  </header>

  <div class="row sh-m-bottom__xxl">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="sh-box sh-space__md sh-bg__navy-blue sh-text__white" style="font-family: Roboto Mono, monospace;">
        <h5 class="sh-no__margin">Roboto Mono</h5>
        <p class="sh-text__hero sh-no__margin">Aa</p>
        <p>abcdefghijklmnopqrstuvwxyz<br>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>0123456789</p>
        <small>Font-family: 'Roboto Mono', Monospace;</small>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <div>
        <p class="sh-caption sh-no__margin">Hero Heading</p>
        <h1 class="sh-text__hero">Far far away, behind the word mountains.</h1>
      </div>
      <div>
        <p class="sh-caption sh-no__margin">h1 Heading</p>
        <h1>Far far away, behind the word mountains.</h1>
      </div>
      <div>
        <p class="sh-caption sh-no__margin">h2 Heading</p>
        <h2>Far far away, behind the word mountains.</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="sh-box sh-bg__navy-blue sh-space__md sh-text__white">
        <h5 class="sh-no__margin">ROBOTO</h5>
        <p class="sh-text__hero sh-no__margin">Aa</p>
        <p>abcdefghijklmnopqrstuvwxyz<br>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>0123456789</p>
        <small>Font-family: 'Roboto', Sans Serif;</small>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <div class="sh-m-bottom__xxl">
        <p class="sh-caption sh-no__margin">h3 Heading</p>
        <h3>Far far away, behind the word mountains.</h3>
      </div>
      <div class="sh-m-bottom__xxl">
        <p class="sh-caption">h4 Heading</p>
        <h4>Far far away, behind the word mountains.</h4>
      </div>
      <div class="sh-m-bottom__xxl">
        <p class="sh-caption">h5 Heading</p>
        <h5>Far far away, behind the word mountains.</h5>
      </div>
      <div class="sh-m-bottom__xxl">
        <p class="sh-caption">h6 Heading</p>
        <h6>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</h6>
      </div>
      <div class="sh-m-bottom__xxl">
        <p class="sh-caption">Body</p>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
      </div>
      <div class="sh-m-bottom__xxl">
        <p class="sh-caption">Body Strong</p>
        <strong>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</strong>
      </div>
      <div class="sh-m-bottom__xxl">
        <p class="sh-caption">Body Small</p>
        <small>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</small>
      </div>
      <div class="sh-m-bottom__xxl">
        <p class="sh-caption">Caption</p>
        <p class="sh-caption">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
      </div>
    </div>
  </div>
</section>
