<p class="caption">Ejemplo de cartas de producto</p>
<pre><code class="language-html">&ltdiv class="sh-card"&gt
  &ltdiv class="sh-card__head"&gt
    &lta href="#"&gt
      &ltimg src="img/low/user.png" alt="x"&gt
    &lt/a&gt
    &ltlabel class="sh-switch"&gt
      &ltinput type="checkbox"&gt
      &ltspan&gt&lt/span&gt
    &lt/label&gt
    &ltspan class="sh-card__switch__text sh-text__sm"&gtComparar&lt/span&gt
    &ltspan class="sh-badge"&gtTop ventas&lt/span&gt
  &lt/div&gt

  &ltdiv class="sh-card__body"&gt
    &ltstrong class="sh-card__body__brand"&gtHerco&lt/strong&gt
    &lth5 class="sh-card__body__text"&gtDescripcion del producto...&lt/h5&gt
    &ltstrong class="sh-card__body__price"&gt30€&lt/strong&gt
  &lt/div&gt

  &ltdiv class="sh-card__footer"&gt
    &ltbutton class="sh-btn sh-btn__full" type="button"&gtAñadir al carro&lt/button&gt
  &lt/div&gt
&lt/div&gt <!-- end sh-card --></code></pre>
