<p class="caption">Ejemplo de cartas de producto</p>
<pre><code class="language-html">&ltdiv class="sh-card"&gt
  &ltdiv class="sh-card__head"&gt
    &lta href="#"&gt
      &ltimg src="img/low/user.png" alt="x"&gt
    &lt/a&gt
  &lt/div&gt
  &ltdiv class="sh-card__body"&gt
    &ltdiv&gt
      &lth6&gtAPOLO/CELO&lt/h6&gt
    &lt/div&gt
    &ltdiv&gt
      &ltspan class="sh-card__body__text"&gt&ltb&gtApolo Taco Nylon Avellanado NPC&lt/b&gt&lt/span&gt
    &lt/div&gt
    &ltdiv&gt
      &ltspan class="sh-card__body__price"&gt
        &ltb&gt0,35 €&lt/b&gt
      &lt/span&gt
    &lt/div&gt
  &lt/div&gt
  &ltdiv class="sh-card__footer"&gt
    &ltbutton class="sh-btn sh-btn__full" type="button"&gtAñadir al carro&lt/button&gt
  &lt/div&gt</code></pre>
