<p class="caption">Ejemplo de alertas</p>
<pre><code class="language-html">Info
&ltdiv class="sh-alert sh-alert__info"&gt
  &lti class="icon icon-info-circled"&gt&lt/i&gt
  &ltspan class="sh-closebtn" onclick="this.parentElement.style.display='none';"&gt&times;&lt/span&gt
  &ltdiv&gtAlerta para indicar algún tipo de información, que no sea muy importante&lt/div&gt
&lt/div&gt
<br>
Completado
&ltdiv class="sh-alert sh-alert__sucess"&gt
  &lti class="icon icon-check"&gt&lt/i&gt
  &ltspan class="sh-closebtn" onclick="this.parentElement.style.display='none';"&gt&times;&lt/span&gt
  &ltdiv&gtAlerta para indicar que hemos hecho el trabajo correctamente&lt/div&gt
&lt/div&gt
<br>
Advertencia
&ltdiv class="sh-alert sh-alert__warning"&gt
  &lti class="icon icon-attention"&gt&lt/i&gt
  &ltspan class="sh-closebtn" onclick="this.parentElement.style.display='none';"&gt&times;&lt/span&gt
  &ltdiv&gt¡Atención! Esta alerta indica una acción potencialmente peligrosa&lt/div&gt
&lt/div&gt
<br>
Error
&ltdiv class="sh-alert sh-alert__error"&gt
  &lti class="icon icon-cancel-circled"&gt&lt/i&gt
  &ltspan class="sh-closebtn" onclick="this.parentElement.style.display='none';"&gt&times;&lt/span&gt
  &ltdiv&gt¡Atención! Esta alerta indica una acción peligrosa o un error&lt/div&gt
&lt/div&gt</code></pre>
