<p class="caption">Ejemplo de checkbox</p>
<pre><code class="language-html">&ltlabel class="sh-check-group"&gtItem1
  &ltinput type="radio" name="radio"&gt
  &ltspan class="sh-radiomark"&gt&lt/span&gt
&lt/label&gt
<br>
Disabled
&ltlabel class="sh-check-group"&gtItem1
  &ltinput type="radio" name="radio" disabled&gt
  &ltspan class="sh-radiomark"&gt&lt/span&gt
&lt/label&gt</code></pre>

<p class="caption">Ejemplo de radio button</p>
<pre><code class="language-html">&ltlabel class="sh-check-group"&gtItem1
  &ltinput type="radio" checked="checked" name="radio"&gt
  &ltspan class="sh-radiomark"&gt&lt/span&gt
&lt/label&gt
<br>
Disabled
&ltlabel class="sh-check-group"&gtDisabled
  &ltinput type="radio" name="radio" disabled&gt
  &ltspan class="sh-radiomark"&gt&lt/span&gt
&lt/label&gt</code></pre>

<p class="caption">Ejemplo de switch</p>
<pre><code class="language-html">&ltlabel class="sh-switch"&gt
  &ltinput type="checkbox"&gt
  &ltspan&gt&lt/span&gt
&lt/label&gt
<br>
Disabled
&ltlabel class="sh-switch"&gt
  &ltinput type="checkbox" disabled&gt
  &ltspan&gt&lt/span&gt
&lt/label&gt</code></pre>
